<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.FlcxCityMapper" >

    <select id="synPro" parameterType="String" resultType="Map">
        SELECT
			provider,
			syndication,
			remarks
		FROM
			flcx_city
		WHERE
			city_name = #{cityName}
		UNION
			SELECT
				provider,
				syndication,
				remarks
			FROM
				flcx_city
			WHERE
				id = #{cityId}
    </select>
</mapper>