<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.FlcxCityMapper" >

    <select id="synPro" parameterType="String" resultType="Map">
        SELECT
			provider,
			syndication,
			remarks
		FROM
			flcx_city
		WHERE
			city_name = #{cityName}
		UNION
			SELECT
				provider,
				syndication,
				remarks
			FROM
				flcx_city
			WHERE
				id = #{cityId}
    </select>


	<resultMap type="com.tzj.collect.core.result.flcx.FlcxCityResult" id="openCity">
		<result property="id" column="id"/>
		<result property="city" column="city_name"/>
		<result property="adCode" column="code_"/>
		<result property="spell" column="spell"/>
	</resultMap>

	<select id="getAllOpenCity" parameterType="String" resultMap="openCity">
       SELECT c.id,c.city_name,c.code_,c.spell
       from flcx_city c
       where c.del_flag=0
    </select>
</mapper>