<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.FlcxTypeMapper" >

    <select id="typeList" parameterType="String" resultType="Map">
        SELECT
            ft.parent_id AS id,
	        parentInfo.img_url,
	        ft.eng_name,
            ft.name_
        FROM
            flcx_type ft
        RIGHT JOIN (
            SELECT
                fct.type_id,
		        fct.img_url
            FROM
                flcx_city_type fct
            WHERE
                fct.del_flag = 0
            AND fct.area_id IN (
                SELECT
                    id AS id
                FROM
                  flcx_city
                WHERE
                 city_name = #{cityName}
                UNION
                SELECT
                  #{cityId} AS id
            )
            GROUP BY
                fct.parent_id
        ) parentInfo ON parentInfo.type_id = ft.id
        WHERE
            ft.del_flag = 0
        AND ft.img_url IS NOT NULL
        AND ft.img_url != '' ORDER BY ft.sort_ ASC;

    </select>
    <select id="cityTypeList"  parameterType="String"  resultType="com.tzj.collect.entity.FlcxType">
        SELECT
            ftt.name_,
            fct.parent_id,
            ftt.id
        FROM
            flcx_type ftt
        RIGHT  JOIN flcx_city_type fct ON ftt.id = fct.type_id
        WHERE
            fct.area_id = #{cityId};
    </select>
</mapper>