* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #eeeeee8c;
}

#Div2 {
    width: 100%;
    height: 100%;
    line-height: 85px;
    text-align: center;
    font-size: 42px;
    color: #009688;
    background-color: #23262E;
}

.Div4 {
    background-color: white;
    padding: 15px 15px 10px 15px;
    margin-top: 20px;
}

.Div5 {
    padding: 15px;
    background-color: white;
    margin-top: 15px;
}

#Div6 {
    width: 1415px;
    margin: 20px auto;
    margin-top: 0;
    /* margin-left: 160px; */
}

#Div7 {
    width: 200px;
    height: 100%;
    background-color: #393D49;
    float: left;
}

#Div8 {
    width: 1415px;
    margin: 20px auto;
    margin-top: 0;
    /* margin-left: 160px; */
}

.start-layui-input {
    text-align: center;
    padding: 0px 30px 0px 30px;
    color: #4e82ad;
    border: 1px solid #a9a9a9;
    height: 40px;
}

.start-layui-input1 {
    text-align: center;
    padding: 0px 30px 0px 30px;
    color: #4e82ad;
    border: 1px solid #a9a9a9;
    height: 40px;
}

input::-webkit-input-placeholder {
    color: #4e82ad;
}

input:-moz-placeholder {
    color: #4e82ad;
}

input::-moz-placeholder {
    color: #4e82ad;
}

input:-ms-input-placeholder {
    color: #4e82ad;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
}

.layui-form {
    display: inline-block;
}

.layui-form-label1 {
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    line-height: 20px;
}

.layui-form-label2 {
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    line-height: 20px;
}

#Span1 {
    float: left;
    display: block;
    padding: 9px 15px;
    font-weight: 400;
    line-height: 20px;
    width: 73.891px;
}

.layui-input,
.layui-select,
.layui-textarea {
    height: 42px !important;
    border: 1px solid #a9a9a9 !important;
    color: #4e82ad;
    text-align: center;
}

#Buttown1 {
    border: 1px solid #86b0d2;
    height: 37px;
    width: 61px;
    text-align: center;
    margin-left: 16px;
    color: white;
    background-color: #409eff;
    border-radius: 4px;
    cursor: pointer;
    /*cursor 属性规定要显示的光标的类型（形状）*/
}

#Buttown2 {
    border: 1px solid #d9d9d9;
    height: 37px;
    width: 61px;
    text-align: center;
    margin-left: 16px;
    color: rgba(0, 0, 0, .65);
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

#Buttown3 {
    border: 1px solid #86b0d2;
    height: 37px;
    width: 61px;
    text-align: center;
    margin-left: 16px;
    color: white;
    background-color: #409eff;
    border-radius: 4px;
    cursor: pointer;
    /*cursor 属性规定要显示的光标的类型（形状）*/
}

#Buttown4 {
    border: 1px solid #d9d9d9;
    height: 37px;
    width: 61px;
    text-align: center;
    margin-left: 16px;
    color: rgba(0, 0, 0, .65);
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.span2 {
    display: inline-block;
    padding: 9px 0px 9px 15px;
    font-weight: 400;
    line-height: 20px;
}

.span3 {
    display: inline-block;
    font-weight: 400;
    line-height: 20px;
    color: #3f93d6;
}

#LeftItem1 {
    background-color: rgb(78, 84, 101);
    display: inline-block;
    color: rgba(255, 255, 255, .7);
    height: 47px;
    cursor: pointer;
}

.layui-nav-item a {
    /* display: block; */
    padding: 0 20px;
    color: #fff;
    color: rgba(255, 255, 255, .7);
    transition: all .3s;
    -webkit-transition: all .3s
}

#LeftItem2 {
    background-color: #393D49;
    display: inline-block;
    color: rgba(255, 255, 255, .7);
    height: 47px;
    cursor: pointer;
}
#LeftItem3 {
    background-color: #393D49;
    display: inline-block;
    color: rgba(255, 255, 255, .7);
    height: 47px;
    cursor: pointer;
}

.erc {
    width: 7px;
    height: 47px;
    background-color: #009688;
    display: inline-block;
}

.erc1 {
    width: 7px;
    height: 47px;
    background-color: #009688;
    display: inline-block;
    display: none;
}
.erc2 {
    width: 7px;
    height: 47px;
    background-color: #009688;
    display: inline-block;
    display: none;
}

.span4 {
    position: absolute;
    margin-left: 25px;
}

.span5 {
    position: absolute;
    margin-left: 36px;
}
.span6 {
    position: absolute;
    margin-left: 36px;
}