<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.CategoryAttrOptionMapper">
	<select id="getCategoryAttrOptionById" parameterType="Long" resultType="com.tzj.collect.api.ali.param.AliCategoryAttrOptionBean">
		SELECT
		a.id AS id,
		a.name_ AS `name`,
		a.sort_ AS sort,
		if(a.is_special = '1',CONCAT('P',b.special_price), b.attr_option_price) AS price,
		a.category_attr_id AS categoryAttrId,
		a.is_special AS isSpecial,
		b.special_price AS specialPrice
		FROM
		sb_category_attr_option a
		LEFT JOIN sb_company_category_attr_option b ON a.id = b.category_attr_option_id
		WHERE
		a.id = #{id}
		AND b.attr_option_price IS NOT NULL
		AND b.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
	</select>
   <select id="getCategoryAttrOptionList" parameterType="Long" resultType="com.tzj.collect.api.ali.param.CategoryAttrOption">
        SELECT 
	a.id AS id, 
	a.name_ AS `name`, 
	a.sort_ AS sort, 
	if(a.is_special = '1',CONCAT('P',b.special_price), b.attr_option_price) AS price, 
	a.category_attr_id AS categoryAttrId, 
	a.is_special AS isSpecial, 
	b.special_price AS specialPrice
	FROM 
		sb_category_attr_option a 
	LEFT JOIN sb_company_category_attr_option b ON a.id = b.category_attr_option_id 
	WHERE 
	a.category_attr_id = #{id} 
	AND b.attr_option_price IS NOT NULL 
	AND b.company_id = #{companyId}
	AND a.del_flag = 0
	AND b.del_flag = 0
    </select>
    <select id="getCategoryAttrOptionLists" parameterType="Long" resultType="com.tzj.collect.api.ali.param.CategoryAttrOption">
      SELECT 
	a.id AS id, 
	a.name_ AS `name`, 
	a.sort_ AS sort, 
	if(a.is_special = '1',CONCAT('P',20), a.price) AS price, 
	a.category_attr_id AS categoryAttrId, 
	a.is_special AS isSpecial 
	FROM 
		sb_category_attr_option a 
	WHERE 
	 a.category_attr_id = #{id} 
	AND a.del_flag = 0
    </select>
    
    <select id="getDigitName" parameterType="int" resultType="CategoryAttrOption">
	   <!--  SELECT sca.id,sca.name_  FROM sb_category_attr sca 
	    LEFT JOIN sb_category sc 
	    ON sca.category_id = sc.id 
	    WHERE sc.id = #{param1} -->
	    SELECT sca.id,sca.name_ AS name,scc.price FROM sb_category sc 
		LEFT JOIN sb_category_attr sca 
		ON sca.`category_id` = sc.`id`
		LEFT JOIN sb_company_category scc
		ON scc.`category_id` = sc.`id`
		WHERE sc.`id`= #{param1} and scc.`company_id` = #{param2}
    </select>
        <select id="getDigitNameRePlace" parameterType="int" resultType="CategoryAttr">
	   <!--  SELECT sca.id,sca.name_  FROM sb_category_attr sca 
	    LEFT JOIN sb_category sc 
	    ON sca.category_id = sc.id 
	    WHERE sc.id = #{param1} -->
	    SELECT sca.id,sca.name_ AS name FROM sb_category sc 
		LEFT JOIN sb_category_attr sca 
		ON sca.`category_id` = sc.`id`
		WHERE sc.`id`= #{categoryId}
    </select>
    
</mapper>