<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.CompanyCategoryCityMapper" >



    <select id="getCityHouseHoldDetail" parameterType="String" resultType="com.tzj.collect.api.business.result.CategoryResult">
        SELECT
            sc.name_,
            sc.id,
            scc.price,
            sc.unit
        FROM
            sb_category sc
        LEFT JOIN sb_company_category_city scc ON scc.category_id = sc.id
        WHERE
            scc.`parent_id` = #{parentId}
        AND scc.`company_id` = #{companyId}
        AND scc.city_id = #{cityId}
    </select>

    <select id="getOwnnerPriceBycityId" parameterType="String" resultType="com.tzj.collect.api.ali.result.ComCatePrice">
        SELECT
			FORMAT(sccp.price,2) AS price,
			sccp.unit,
			sc.name_,
			sc.id,
			sc.icon,
			b.name_ AS parentName,
			b.id AS parentId,
			sc.is_old_exchange_new AS isOldExchangeNew,
			sc.ant_forest_pic AS antForestPic
		FROM
			sb_company_category_city sccp
		INNER JOIN sb_category sc ON sc.id = sccp.category_id
		LEFT JOIN sb_category b
		ON sc.parent_id = b.id
		WHERE
			sccp.parent_id = #{categoryId}
		AND sccp.company_id = #{companyId}
		AND sccp.price > 0
		AND sccp.del_flag = 0
		AND sccp.city_id = #{cityId}
		AND b.del_flag = 0
		ORDER BY sc.code_ ASC;
    </select>

    <select id="getOwnnerNoPriceBycityId" parameterType="String" resultType="com.tzj.collect.api.ali.result.ComCatePrice">
        SELECT
			FORMAT(sccp.price,2) AS price,
			sccp.unit,
			sc.name_,
			sc.id,
			sc.icon,
			b.name_ AS parentName,
			b.id AS parentId,
			sc.is_old_exchange_new AS isOldExchangeNew,
			sc.ant_forest_pic AS antForestPic
		FROM
			sb_company_category_city sccp
		INNER JOIN sb_category sc ON sc.id = sccp.category_id
		LEFT JOIN sb_category b
		ON sc.parent_id = b.id
		WHERE
			sccp.parent_id = #{categoryId}
		AND sccp.company_id = #{companyId}
		AND sccp.price = 0
		AND sccp.del_flag = 0
		AND sccp.city_id = #{cityId}
		AND b.del_flag = 0
		ORDER BY sc.code_ ASC;
    </select>

	<select id="topListAppByCity" resultType="Category" parameterType="String">
		SELECT DISTINCT
			scc.*
		FROM
			sb_category scc
		LEFT JOIN (SELECT sccc.id AS aId,sccc.price AS aprice,sccc.parent_id AS aparentId FROM sb_company_category_city sccc WHERE sccc.company_id = #{companyId} AND sccc.city_id = #{cityId} ) sccc ON sccc.aparentId = scc.id
		LEFT JOIN (SELECT sc.id AS bId,sc.price AS bprice,sc.parent_id AS bparentId FROM sb_company_category sc WHERE sc.company_id = #{companyId} AND sc.del_flag = 0) sc ON sc.bparentId = scc.id
		WHERE
			scc.title = #{title}
		AND scc.level_ = #{level}
		AND(sccc.aprice > 0 OR (sccc.aId is null AND sc.bprice >0))
		UNION ALL
		SELECT DISTINCT
			a.*
		FROM
			sb_category a
		WHERE
			a.level_ = #{level}
		AND a.title = #{title}
		AND a.unuseful = '1'
	 </select>

	<select id="getOwnnerPriceAppByCity" parameterType="String" resultType="com.tzj.collect.api.ali.result.ComCatePrice">
		SELECT
			FORMAT(sccp.price,2) AS price,
			sccp.unit,
			sc.name_,
			sc.id,
			sc.icon
		FROM
			sb_company_category_city sccp
		INNER JOIN sb_category sc ON sc.id = sccp.category_id
		WHERE
			sccp.parent_id = #{categoryId}
		AND sccp.company_id = #{companyId}
		AND (FORMAT(sccp.price,2) > 0 OR sc.unuseful = '1')
		AND sccp.del_flag = 0
		AND sc.del_flag = 0
		AND sccp.city_id = #{cityId}
		ORDER BY sc.code_ ASC
	</select>
</mapper>
