<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.CompanyStreetApplianceMapper">
    <select id="selectStreetApplianceCompanyId" resultType="Integer" parameterType="Integer">
        SELECT DISTINCT
         a.company_id
        FROM
          sb_company_street_appliance a
        LEFT JOIN sb_company_category b ON a.company_id = b.company_id
        WHERE
        a.street_id = #{streetId}
        AND b.parent_id = #{categoryId}
        AND b.del_flag = 0
        AND a.del_flag = 0
    </select>
<select id="companyAreaRanges" parameterType="String" resultType="Map">
        SELECT DISTINCT
            (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    c.parent_id AS cityId
                FROM
                    sb_company_street_appliance b
                INNER JOIN sb_area c ON b.area_id = c.id
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    c.parent_id
            UNION
                SELECT
                        c.parent_id AS cityId
                    FROM
                        sb_company_service a
                    INNER JOIN sb_area b ON a.area_id = b.id
                    INNER JOIN sb_area c ON c.id = b.parent_id
                    WHERE
                        a.company_id = #{companyId}
                    AND a.del_flag = 0
                    GROUP BY
                        c.parent_id
            )a ) AS cityNum,
        (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    b.area_id AS areaId
                FROM
                    sb_company_street_appliance b
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    b.area_id
            UNION
                SELECT
                    b.parent_id AS areaId
                FROM
                    sb_company_service a
                INNER JOIN sb_area b ON a.area_id = b.id
                WHERE
                    a.company_id = #{companyId}
                AND a.del_flag = 0
                GROUP BY
                    b.parent_id
            )a) AS areaNum,
        (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    b.street_id AS streetId
                FROM
                    sb_company_street_appliance b
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    b.street_id
            UNION
                SELECT
                    a.area_id AS streetId
                FROM
                    sb_company_service a
                WHERE
                    a.company_id = #{companyId}
                AND a.del_flag = 0
                GROUP BY
                    a.area_id
            ) a) AS streetNum,
        0 AS communityNum
        FROM
            sb_company a
        WHERE
            a.id = #{companyId}
        AND a.del_flag = 0
</select>
    <select id="adminCompanyAreaRanges" parameterType="String" resultType="Map">
        SELECT DISTINCT
            (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    c.parent_id AS cityId
                FROM
                    sb_company_street_appliance b
                INNER JOIN sb_area c ON b.area_id = c.id
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    c.parent_id
            )a ) AS cityNum,
        (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    b.area_id AS areaId
                FROM
                    sb_company_street_appliance b
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    b.area_id
            )a) AS areaNum,
        (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    b.street_id AS streetId
                FROM
                    sb_company_street_appliance b
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    b.street_id
            ) a) AS streetNum,
        0 AS communityNum
        FROM
            sb_company a
        WHERE
            a.id = #{companyId}
        AND a.del_flag = 0
</select>






</mapper>
