<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.CompanyServiceMapper">
  <select id="selectCompanyServiceByCompanyId" parameterType="long" resultType="java.lang.Integer">
     	 SELECT
				count(1)
			FROM
				sb_company_service scs
			LEFT JOIN sb_company sc ON scs.company_id = sc.id
			WHERE
			 sc.id =#{companyId}
            AND scs.del_flag!='1'
	</select>
	<select id="companyAreaRanges" parameterType="String" resultType="Map">
		SELECT DISTINCT
		(SELECT COUNT(1) FROM(	SELECT
				c.*
			FROM
				sb_company_service a
			INNER JOIN sb_area b ON a.area_id = b.id
			INNER JOIN sb_area c ON c.id = b.parent_id
			WHERE
				a.company_id = #{companyId}
			AND a.del_flag = 0
			GROUP BY
				c.parent_id) a ) AS cityNum,
		(SELECT COUNT(1) FROM(	SELECT
				b.*
			FROM
				sb_company_service a
			INNER JOIN sb_area b ON a.area_id = b.id
			WHERE
				a.company_id = #{companyId}
			AND a.del_flag = 0
			GROUP BY
				b.parent_id) a ) AS areaNum,
		(SELECT COUNT(1) FROM(	SELECT
				*
			FROM
				sb_company_service a
			WHERE
				a.company_id = #{companyId}
			AND a.del_flag = 0
			GROUP BY
				a.area_id) a ) AS streetNum,
		(SELECT COUNT(1) FROM(	SELECT
				*
			FROM
				sb_company_service a
			WHERE
				a.company_id = #{companyId}
			AND a.del_flag = 0
			GROUP BY
				a.community_id) a ) AS communityNum
		FROM
			sb_company a
		WHERE
			a.id = #{companyId}
	</select>
</mapper>
