<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.MemberAddressMapper">

	<select id="selectMemberAddressByCommunityId" resultType="com.tzj.collect.api.ali.param.MemberAddressBean">
		SELECT
			b.id,
			a.id AS communityId
		FROM
			sb_community a
		LEFT JOIN sb_member_address b ON a.name_ = b.community_name
		AND a.area_id = b.street_id
		WHERE
			b.community_id = - 1
		AND b.del_flag = 1
	</select>
	<select id="selectMemberAddressBystreetId" resultType="com.tzj.collect.api.ali.param.MemberAddressBean">
		SELECT
			a.id,
			b.id as streetId
		FROM
			sb_member_address a
		LEFT JOIN sb_area b ON a.town_code = b.code_
		WHERE
			a.street_id = - 1
		AND b.id IS NOT NULL
	</select>












</mapper>
