<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.PiccNumMapper">

    <select id="selectSumOutNum" parameterType="long" resultType="Integer">
        SELECT
            SUM(a.out_num)
        FROM
            sb_picc_num a
        WHERE
            a.picc_company_id = #{piccConpanyId}
        AND a.del_flag = 0
    </select>
    <select id="selectOutNum" parameterType="long" resultType="Integer">
        SELECT
            a.out_num
        FROM
            sb_picc_num a
        WHERE
            a.picc_company_id = #{piccConpanyId}
        AND a.del_flag = 0
        AND a.out_num IS NOT NULL
        order by a.out_time desc
        LIMIT 1
    </select>

    <select id="selectSumErrorNum" parameterType="long" resultType="Integer">
        SELECT
            SUM(a.in_error_num)
        FROM
            sb_picc_num a
        WHERE
            a.picc_company_id = #{piccConpanyId}
        AND a.del_flag = 0

    </select>

    <select id="selectErrorNum" parameterType="long" resultType="Integer">
        SELECT
            a.in_error_num
        FROM
            sb_picc_num a
        WHERE
            a.picc_company_id = #{piccConpanyId}
        AND a.del_flag = 0
        AND a.in_error_num IS NOT NULL
        order by a.in_error_time desc
        LIMIT 1

    </select>

    <select id="selectSumSuccessNum" parameterType="long" resultType="Integer">

        SELECT
            SUM(a.in_success_num)
        FROM
            sb_picc_num a
        WHERE
            a.picc_company_id = #{piccConpanyId}
        AND a.del_flag = 0
    </select>
    <select id="selectSuccessNum" parameterType="long" resultType="Integer">
        SELECT
            a.in_success_num
        FROM
            sb_picc_num a
        WHERE
            a.picc_company_id = #{piccConpanyId}
        AND a.del_flag = 0
        AND a.in_success_num IS NOT NULL
        order by a.in_success_time desc
        LIMIT 1
    </select>
    <select id="selectInvalidNum" parameterType="Object" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            sb_picc_order a
        WHERE
            a.picc_company_id = #{piccConpanyId}
        AND a.del_flag = 0
        AND a.status_ = 2
        AND a.pick_end_time BETWEEN #{startTime}
        AND #{endTime}
    </select>


</mapper>
