<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.RecruitExpressMapper" >

<select id="getRecruitList" parameterType="Object" resultType="com.tzj.collect.core.result.admin.RecruitExpressResult">
SELECT
	a.id AS id,
	if(a.type='0','服务商','合伙人') AS type,
	if(a.cooperation_type='0','企业','个人') AS cooperationType,
    DATE_FORMAT(a.create_date, '%Y-%c-%d %H:%i:%s' ) as createDate,
	a.enterprise,
	a.name_ AS name,
	a.mobile,
	a.category_type,
	a.city
FROM
	sb_recruit_express a
WHERE
	a.del_flag = 0
    <if test="type != null and type !='' ">
        AND a.type = #{type}
    </if>
    <if test="cooperationType != null and cooperationType !='' ">
        AND a.cooperation_type = #{cooperationType}
    </if>
    <if test="enterprise != null and enterprise !='' ">
        AND a.enterprise like concat('%',#{enterprise},'%')
    </if>
    <if test="city != null and city !='' ">
        AND a.city like concat('%',#{city},'%')
    </if>
    <if test="mobile != null and mobile !='' ">
        AND a.mobile = #{mobile}
    </if>
    <if test="startTime != null and startTime !='' ">
        AND a.create_date > concat(#{startTime},' 00:00:01')
    </if>
    <if test="endTime != null and endTime !='' ">
        AND concat(#{endTime},' 23:59:59') > a.create_date
    </if>
    ORDER BY a.create_date DESC
    LIMIT #{startPage},#{pageSize}
</select>
    
    <select id="getRecruitCount" parameterType="String" resultType="Integer">
        SELECT
          count(1)
        FROM
        sb_recruit_express a
        WHERE
        a.del_flag = 0
        <if test="type != null and type !='' ">
            AND a.type = #{type}
        </if>
        <if test="cooperationType != null and cooperationType !='' ">
            AND a.cooperation_type = #{cooperationType}
        </if>
        <if test="enterprise != null and enterprise !='' ">
            AND a.enterprise like concat('%',#{enterprise},'%')
        </if>
        <if test="city != null and city !='' ">
            AND a.city like concat('%',#{city},'%')
        </if>
        <if test="mobile != null and mobile !='' ">
            AND a.mobile = #{mobile}
        </if>
        <if test="startTime != null and startTime !='' ">
            AND a.create_date > concat(#{startTime},' 00:00:01')
        </if>
        <if test="endTime != null and endTime !='' ">
            AND concat(#{endTime},' 23:59:59') > a.create_date
        </if>
    </select>

    <select id="getRecruitListOutExcel" parameterType="Object" resultType="com.tzj.collect.core.result.admin.RecruitExpressResult">
        SELECT
        a.id AS id,
        if(a.type='0','服务商','合伙人') AS type,
        if(a.cooperation_type='0','企业','个人') AS cooperationType,
        DATE_FORMAT(a.create_date, '%Y-%c-%d %H:%i:%s' ) as createDate,
        a.enterprise,
        a.name_ AS name,
        a.mobile,
        a.category_type,
        a.city
        FROM
        sb_recruit_express a
        WHERE
        a.del_flag = 0
        <if test="type != null and type !='' ">
            AND a.type = #{type}
        </if>
        <if test="cooperationType != null and cooperationType !='' ">
            AND a.cooperation_type = #{cooperationType}
        </if>
        <if test="enterprise != null and enterprise !='' ">
            AND a.enterprise like concat('%',#{enterprise},'%')
        </if>
        <if test="city != null and city !='' ">
            AND a.city like concat('%',#{city},'%')
        </if>
        <if test="mobile != null and mobile !='' ">
            AND a.mobile = #{mobile}
        </if>
        <if test="startTime != null and startTime !='' ">
            AND a.create_date > concat(#{startTime},' 00:00:01')
        </if>
        <if test="endTime != null and endTime !='' ">
            AND concat(#{endTime},' 23:59:59') > a.create_date
        </if>
        ORDER BY a.create_date DESC
    </select>




</mapper>
