<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.RecyclerCommunityMapper">

    <select id="recyclerServiceList" resultType="com.tzj.collect.core.param.business.RecyclerServiceBean" parameterType="com.tzj.collect.core.param.business.BusinessRecyclerBean">

		SELECT
			sba.area_name AS countyName,
			B.streetName,
			B.communityName
		FROM
			sb_area sba
		INNER JOIN (
			SELECT
				A.countyId AS county_id,
				sa.area_name AS streetName,
				A. NAME AS communityName
			FROM
				sb_area sa
			INNER JOIN (
				SELECT
					scs.area_id AS streetId,
					sc.name_ AS NAME,
					SUBSTRING_INDEX(scs.parent_ids, '_', '1') AS countyId
				FROM
					sb_company_service scs
				INNER JOIN sb_company sy ON scs.company_id = sy.id
				INNER JOIN sb_community sc ON sc.id = scs.community_id
				INNER JOIN (
					SELECT
						scr.recycler_id,
						scr.company_id
					FROM
						sb_company_recycler scr
					INNER JOIN sb_recyclers sr ON sr.id = scr.recycler_id
					WHERE
						scr.status_ = '1'
					AND sr.id = #{recyclerBean.recyclerId}
				) CR ON scs.company_id = CR.company_id
				WHERE
					scs.company_id = #{recyclerBean.companyId}
			) A ON sa.id = A.streetId
		) B ON sba.id = B.county_id
   </select>


    <select id="getRecyclerServiceListCount" parameterType="long" resultType="java.lang.Integer">
    
       SELECT
			count(*)
		FROM
			sb_company_service scs
		INNER JOIN sb_company sy ON scs.company_id = sy.id
		INNER JOIN sb_community sc ON sc.id = scs.community_id
		INNER JOIN (
			SELECT
				scr.recycler_id,
				scr.company_id
			FROM
				sb_company_recycler scr
			INNER JOIN sb_recyclers sr ON sr.id = scr.recycler_id
			WHERE
				scr.status_ = '1'
			AND sr.id = #{recyclerBean.recyclerId}
		) CR ON scs.company_id = CR.company_id
		WHERE
			scs.company_id = #{recyclerBean.companyId}
    </select>
</mapper>