<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.RecyclersRangeHouseholdMapper">


    <select id="getAreaRecyclersRange" parameterType="String" resultType="Map">
			SELECT DISTINCT
				d.id,
				d.area_name,
			IF (b.id IS NULL, 1, 2) AS isChoose,
			(SELECT COUNT(*) FROM (	SELECT DISTINCT b.* FROM sb_recyclers_range_household a LEFT JOIN sb_area b ON a.street_id = b.id WHERE a.recyclers_id = #{recycleId} AND a.company_id =  #{companyId} AND a.del_flag = 0) b WHERE b.parent_id = d.id) AS num
			FROM
				sb_company_service a
				LEFT JOIN sb_area c ON a.area_id = c.id
				LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN (
				SELECT DISTINCT
					b.*
				FROM
					sb_recyclers_range_household a
				LEFT JOIN sb_area b ON a.street_id = b.id
				WHERE
					a.recyclers_id = #{recycleId}
				AND a.company_id =  #{companyId}
				AND a.del_flag = 0
			) b ON d.id = b.parent_id
			WHERE
				a.company_id = #{companyId}
			AND d.parent_id = #{cityId}
		</select>
    <select id="getStreeRecyclersRange" parameterType="String" resultType="Map">
			SELECT DISTINCT
				a.id,
				a.area_name,
			IF (b.id IS NULL, 1, 2) AS isChoose,
			(SELECT COUNT(*) FROM (	SELECT DISTINCT * FROM sb_recyclers_range_household a  WHERE a.recyclers_id = #{recycleId} AND a.company_id = #{companyId} AND a.del_flag = 0) b WHERE b.street_id = a.id) AS num
			FROM
				sb_area a
			LEFT JOIN (
				SELECT
					*
				FROM
					sb_recyclers_range_household a
				WHERE
					a.recyclers_id = #{recycleId}
				AND a.company_id = #{companyId}
				AND a.del_flag = 0
			) b ON a.id = b.street_id
			WHERE
				a.parent_id = #{areaId}
	</select>

    <select id="getCommunityRecyclersRange" parameterType="String" resultType="Map">
        SELECT DISTINCT
				a.id,
				a.name_ as area_name,
			IF (b.id IS NULL, 1, 2) AS isChoose,
			IF (c.id IS NULL, 1, 2) AS isEdit
			FROM
				sb_community a
			LEFT JOIN (
				SELECT
					*
				FROM
					sb_recyclers_range_household a
				WHERE
					a.recyclers_id =  #{recycleId}
				AND a.company_id = #{companyId}
				AND a.del_flag = 0
			) b ON a.id = b.community_id
			LEFT JOIN (
				SELECT
					*
				FROM
					sb_recyclers_range_household a
				WHERE
					a.recyclers_id != #{recycleId}
				AND a.company_id = #{companyId}
				AND a.del_flag = 0
			) c ON a.id = c.community_id
			WHERE
				a.area_id = #{streetId}
    </select>
	<select id="selectAreaRangeCount" parameterType="String" resultType="Integer">
		SELECT
			COUNT(1)
		FROM
			(
				SELECT
					b.parent_id
				FROM
					sb_recyclers_range_household a
				LEFT JOIN sb_area b ON a.street_id = b.id
				WHERE
					a.company_id = #{companyId}
				AND a.recyclers_id = #{recyclerId}
				AND a.del_flag = 0
		GROUP BY b.parent_id
			) a
	</select>
</mapper>