<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.RecyclersRangeHouseMapper">
	<select id="companyAreaRecyclerRanges" parameterType="String" resultType="Map">
		SELECT DISTINCT
			(SELECT COUNT(1) FROM (
				SELECT
					b.parent_id AS cityId
				FROM
					sb_recyclers_range_house a
				INNER JOIN (SELECT
				a.company_id,a.street_id
				 FROM
				sb_recyclers_range_house a
				WHERE a.company_id = #{companyId}
				UNION
				SELECT
				a.company_id,a.area_id AS street_id
				 FROM
				sb_company_service a
				WHERE a.company_id = #{companyId}) c ON a.company_id = c.company_id AND a.street_id = c.street_id
				INNER JOIN sb_area b ON a.area_id = b.id
				WHERE
					a.company_id = #{companyId}
				AND a.del_flag = 0
				GROUP BY
					b.parent_id
			)a)  AS cityNum,
			(SELECT COUNT(1) FROM (
				SELECT
					a.area_id AS areaId
				FROM
					sb_recyclers_range_house a
				INNER JOIN (SELECT
				a.company_id,a.street_id
				 FROM
				sb_recyclers_range_house a
				WHERE a.company_id = #{companyId}
				UNION
				SELECT
				a.company_id,a.area_id AS street_id
				 FROM
				sb_company_service a
				WHERE a.company_id = #{companyId}) c ON a.company_id = c.company_id AND a.street_id = c.street_id
				WHERE
					a.company_id = #{companyId}
				AND a.del_flag = 0
				GROUP BY
					a.area_id
			)a)  AS areaNum,
			(SELECT COUNT(1) FROM (
				SELECT
					a.street_id AS streetId
				FROM
					sb_recyclers_range_house a
				INNER JOIN (SELECT
				a.company_id,a.street_id
				 FROM
				sb_recyclers_range_house a
				WHERE a.company_id = #{companyId}
				UNION
				SELECT
				a.company_id,a.area_id AS street_id
				 FROM
				sb_company_service a
				WHERE a.company_id = #{companyId}) c ON a.company_id = c.company_id AND a.street_id = c.street_id
				WHERE
					a.company_id = #{companyId}
				AND a.del_flag = 0
				GROUP BY
					a.street_id
			)a)  AS streetNum,
		0 AS communityNum
		FROM
			sb_company a
		WHERE
			a.id = #{companyId}
		AND a.del_flag = 0
	</select>

	<select id="getAreaRecyclersRange" parameterType="String" resultType="Map">
			SELECT DISTINCT
				c.id,
				c.area_name,
			IF (b.id IS NULL, 1, 2) AS isChoose,
			(SELECT COUNT(*) FROM (	SELECT * FROM sb_recyclers_range_house a WHERE a.recyclers_id =  #{recycleId} AND a.company_id =  #{companyId} AND a.del_flag = 0) b WHERE b.area_id = c.id) AS num
			FROM
				(SELECT d.id,d.parent_id,d.area_name FROM
				sb_company_service a
				LEFT JOIN sb_area c ON a.area_id = c.id
				LEFT JOIN sb_area d ON c.parent_id = d.id
				WHERE a.company_id = #{companyId}
				UNION
				SELECT c.id,c.parent_id,c.area_name FROM
					sb_company_street_house a
				INNER JOIN sb_area c ON a.area_id = c.id
				WHERE a.company_id = #{companyId}
				) c
			LEFT JOIN (
				SELECT
					a.id,a.area_id
				FROM
					sb_recyclers_range_house a
				WHERE
					a.recyclers_id = #{recycleId}
				AND a.company_id = #{companyId}
				AND a.del_flag = 0
			) b ON c.id = b.area_id
			WHERE
				c.parent_id =#{cityId}
		</select>
	<select id="getStreeRecyclersRange" parameterType="String" resultType="Map">
			SELECT DISTINCT
				a.id,
				a.area_name,
			IF (b.id IS NULL, 1, 2) AS isChoose,
			IF (c.id IS NULL, 1, 2) AS isEdit,
				0 AS num
			FROM
				(SELECT c.id,c.area_name FROM
				sb_company_service a
				LEFT JOIN sb_area c ON a.area_id = c.id
				WHERE a.company_id = #{companyId} AND c.parent_id = #{areaId}
				UNION
				SELECT c.id,c.area_name FROM
					sb_company_street_house a
				INNER JOIN sb_area c ON a.street_id = c.id
				WHERE a.company_id = #{companyId} AND c.parent_id = #{areaId}
				)  a
			LEFT JOIN (
				SELECT
					a.id,a.street_id
				FROM
					sb_recyclers_range_house a
				WHERE
					a.recyclers_id =  #{recycleId}
				AND a.company_id = #{companyId}
				AND a.del_flag = 0
			) b ON a.id = b.street_id
			LEFT JOIN (
				SELECT
					a.id,a.street_id
				FROM
					sb_recyclers_range_house a
				WHERE
				a.company_id = #{companyId}
				AND a.recyclers_id != #{recycleId}
				AND a.del_flag = 0
			) c ON a.id = c.street_id
	</select>
	<select id="getCommunityRecyclersRange" parameterType="String" resultType="Map">
        SELECT DISTINCT
				a.id,
				a.name_ as area_name,
				1 AS isChoose
			FROM
				sb_community a
			WHERE
				a.area_id = #{streetId}
    </select>
</mapper>