<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.green.mapper.AreaMapper">


    <select id="getCityList" resultType="Map">
		SELECT
			a.id,
		    CONCAT(b.area_name,'-',a.area_name) AS areaName,
			b.id AS parentId
		FROM
			sb_area a
		LEFT JOIN sb_area b ON a.parent_id = b.id
		WHERE
			a.type = 1
	</select>
</mapper>
