<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.green.mapper.CompanyCategoryMapper">


    <select id="getCompanyCategoryById" parameterType="Object"   resultType="Map">
        SELECT
            a.id,
            a.name_ AS name,
            IF(b.add_points is null,a.add_points,b.add_points) AS addPoints,
            IF(b.subtract_points is null,a.subtract_points,b.subtract_points) AS subtractPoints
        FROM
            sb_category a
        LEFT JOIN (SELECT * FROM sb_company_category b WHERE b.company_id = #{companyId}) b ON a.id = b.category_id
        WHERE a.level_ = #{level}
        <if test=" parentId != null and parentId != ''">
            AND a.parent_id = #{parentId}
        </if>
    </select>
</mapper>
