<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.green.mapper.GoodsMapper">

    <select id="getGoodsListByActivityId" parameterType="Object" resultType="Map">
      select  sg.goods_name as goodsName,
       sg.icon as icon,
       sg.points as points,
       sg.goods_no as goodsNo,
       sg.goods_num-sg.goods_frozen_num as goodsUsableNum
       from  sb_goods sg inner join
      sb_product_goods spg
        on spg.goods_id =sg.id
      inner join sb_product sp
      on sp.id =spg.product_id
      where  sp.product_no=#{activityCode}
    </select>


</mapper>
