<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.green.mapper.OrderCountMapper">


    <select id="getOrderCountList1"  resultType="Map">
SELECT
l.id AS id,
l.recycler_id AS recyclerId,
l.user_no AS userNo,
if(i.category_id = 1,'3',if(i.category_id = 2,'1',if(i.category_id = 3,'4','2')))AS garbageTypeNumber,
if(i.parent_id = 8,'21',if(i.parent_id = 7,'22',if(i.parent_id = 6,'24',if(i.parent_id = 5,'25',null))))AS recycleTypeNumber,
i.amount AS amount,
UNIX_TIMESTAMP(l.create_date)*1000 AS createTime
FROM
sb_points_list l
join sb_points_list_item i on l.id=i.points_list_id
WHERE
l.company_id=6
AND
l.create_date >= DATE_SUB(CURDATE(), INTERVAL 0 DAY)
    </select>

    <select id="getOrderCountList2"  resultType="Map">
        SELECT
            COUNT (1)
        FROM
        sb_points_list l
        join sb_points_list_item i on l.id=i.points_list_id
        WHERE
        l.company_id=6 AND
        l.create_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 1 DAY)
        AND DATE_SUB(CURDATE(), INTERVAL 0 DAY)
    </select>

    <select id="getOrderCountList" resultType="Map">
        SELECT
        l.create_date AS createDate,
        l.user_name AS userName,
        m.mobile AS mobile,
        l.user_no AS userNo,
        i.amount AS amount,
        if(i.category_id = 1,'其他垃圾',if(i.category_id = 2,'易腐垃圾',if(i.category_id = 3,'有害垃圾','可回收垃圾')))AS garbageType,
        if(i.parent_id = 8,'金属',if(i.parent_id = 7,'塑料',if(i.parent_id = 6,'纺织',if(i.parent_id = 5,'废纸',null))))AS
        recycleType,
        m.province_name AS provinceName,
        m.city_name AS cityName,
        m.area_name AS areaName,
        m.street_name AS streetName,
        m.community_name AS communityName,
        m.community_house_name AS communityHouseName,
        r.name_ AS createBy ,
        CONCAT(IF(l.points_type = '0','+','-'),l.points) AS points
        FROM
        sb_points_list l
        join sb_points_list_item i on l.id=i.points_list_id
        LEFT join sb_member m on l.user_no = m.real_no
        LEFT join sb_recyclers r on l.recycler_id=r.id
        WHERE
        l.company_id=6
        AND
        l.create_date >= DATE_SUB(CURDATE(), INTERVAL 0 DAY)
    </select>

    <select id="getPointCountList" resultType="Map">
        SELECT
        s.name_ AS companyName,
        l.create_date AS createDate,
        l.user_name AS userName,
        m.mobile AS mobile,
        l.user_no AS userNo,
        i.amount AS amount,
        if(i.category_id = 1,'其他垃圾',if(i.category_id = 2,'易腐垃圾',if(i.category_id = 3,'有害垃圾',if(i.category_id >= 4,'可回收垃圾',''))))AS garbageType,
        if(i.parent_id = 8,'金属',if(i.parent_id = 7,'塑料',if(i.parent_id = 6,'纺织',if(i.parent_id = 5,'废纸',null))))AS
        recycleType,
        m.province_name AS provinceName,
        m.city_name AS cityName,
        m.area_name AS areaName,
        m.street_name AS streetName,
        m.community_name AS communityName,
        m.community_house_name AS communityHouseName,
        r.name_ AS createBy ,
        round(IF(l.points_type = '0',i.points*i.amount,0),0) AS addPoints,
        IF(l.points_type = '1',l.points,0) AS sumPoints
        FROM
        sb_points_list l
        LEFT join sb_points_list_item i on l.id=i.points_list_id
        LEFT join sb_member m on l.user_no = m.real_no
        LEFT join sb_recyclers r on l.recycler_id=r.id
        join sb_company s on l.company_id=s.id
        WHERE
        1=1
        <if test="companyId != null and companyId !='' ">
            AND l.company_id = #{companyId}
        </if>
        <if test="startTime != null and startTime !='' ">
            AND l.create_date > CONCAT(#{startTime},' 00:00:01')
        </if>
        <if test="endTime != null and endTime !='' ">
            AND CONCAT(#{endTime},' 23:59:59')> l.create_date
        </if>
    </select>

</mapper>
