<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.green.mapper.ProductOrderMapper">


<select id="getProductOrderList" parameterType="Object" resultType="Map">
    SELECT
        a.id,
        DATE_FORMAT(a.create_date,'%Y-%m-%d %H:%i:%s')as createDate,
        a.user_name AS userName,
        a.tel,
        a.user_no AS userNo,
        a.goods_name AS goodsName,
        a.goods_num AS goodsNum,
        a.address
    FROM
        sb_product_order a
    LEFT JOIN sb_goods b ON a.goods_id = b.id
    WHERE
        a.company_id = #{companyId}
    AND b.type_ = #{type}
    <if test="startTime != null and startTime != '' ">
        AND a.create_date > CONCAT(#{startTime},' 00:00:01')
    </if>
    <if test="endTime != null and endTime != '' ">
        AND CONCAT(#{endTime},' 23:59:59') > a.create_date
    </if>
    <if test="name != null and name != '' ">
        AND a.user_name LIKE CONCAT('%',#{name},'%')
    </if>
    <if test="tel != null and tel != '' ">
        AND a.tel LIKE  CONCAT('%',#{tel},'%')
    </if>
    ORDER BY a.create_date DESC
    LIMIT #{pageStart},#{pageSize}
</select>
<select id="getProductOrderCount" parameterType="Object" resultType="Integer">
    SELECT
        count(1)
    FROM
        sb_product_order a
    LEFT JOIN sb_goods b ON a.goods_id = b.id
    WHERE
    a.company_id = #{companyId}
    AND b.type_ = #{type}
    <if test="startTime != null and startTime != '' ">
        AND a.create_date > CONCAT(#{startTime},' 00:00:01')
    </if>
    <if test="endTime != null and endTime != '' ">
        AND CONCAT(#{endTime},' 23:59:59') > a.create_date
    </if>
    <if test="name != null and name != '' ">
        AND a.user_name LIKE CONCAT('%',#{name},'%')
    </if>
    <if test="tel != null and tel != '' ">
        AND a.tel LIKE  CONCAT('%',#{tel},'%')
    </if>
</select>
<select id="getProductOrderDetail" parameterType="String" resultType="Map">
SELECT
	DATE_FORMAT(a.create_date,'%Y-%m-%d %H:%i:%s')as createDate,
	a.user_name AS userName,
	a.tel,
	b.name_,
	DATE_FORMAT(b.pick_start_date,'%Y-%m-%d') as pickStartDate,
	DATE_FORMAT(b.pick_end_date,'%Y-%m-%d') AS pickEndDate
FROM
	sb_product_order a
LEFT JOIN sb_product b ON a.product_id = b.id
WHERE
	 a.id = #{productOrderId}
</select>



</mapper>
