<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.point.mapper.JfappPointListMapper">

<select id="getJfappPointList" parameterType="Object" resultType="Map">
	SELECT
		a.ali_user_id AS aliUserId,
		a.user_name AS userName,
		a.mobile,
		DATE_FORMAT(a.create_date,'%Y-%m-%d %k:%i:%s') AS createDate,
		a.type,
		a.point
	FROM
		sb_jfapp_point_list a
	WHERE
		a.recycler_id = #{jfappRecyclerId}
	ORDER BY
		a.create_date DESC
	LIMIT #{startSize},#{pageSize}
</select>
<select id="getJfPointListByAdmin" parameterType="Object" resultType="Map">
	SELECT
		a.ali_user_id AS aliUserId,
		a.user_name AS userName,
		a.mobile,
		DATE_FORMAT(a.create_date,'%Y-%m-%d %k:%i:%s') AS createDate,
		a.type,
		a.point,
		b.name_ AS name
	FROM
		sb_jfapp_point_list a
	LEFT JOIN sb_jfapp_recycler b ON a.recycler_id = b.id
	WHERE
		a.del_flag = 0
		<if test="userName != null and userName!= ''">
			AND	a.user_name like CONCAT('%',CONCAT(#{userName},'%'))
		</if>
		<if test="mobile != null and mobile!= ''">
			AND a.mobile like CONCAT('%',CONCAT(#{mobile},'%'))
		</if>
		<if test="recyclerName != null and recyclerName!= ''">
			AND b.name_ LIKE CONCAT('%',CONCAT(#{recyclerName},'%'))
		</if>
		<if test="startDate != null and startDate!= ''">
			AND a.create_date > CONCAT(#{startDate},' 00:00:01')
		</if>
		<if test="endDate != null and endDate!= ''">
			AND CONCAT(#{endDate},' 23:59:59') > a.create_date
		</if>
	ORDER BY
		a.create_date DESC
	LIMIT #{startSize},#{pageSize}
</select>











</mapper>
