<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.AreaMapper">

	<select id="selectAreaByCouOrStrOrCom"  resultType="com.tzj.collect.core.param.admin.AdminCommunityBean">
		SELECT
			countyStreet.countyId,
			countyStreet.countyName,
			countyStreet.streetId,
			countyStreet.streetName,
			sc.id AS communityId,
			sc.name_ AS communityName
		FROM
			(
				SELECT
					sa.id AS countyId,
					sa.area_name AS countyName,
					sa1.id AS streetId,
					sa1.area_name AS streetName
				FROM
					sb_area sa
				INNER JOIN sb_area sa1 ON sa.id = sa1.parent_id
			) countyStreet
		LEFT JOIN sb_community sc ON countyStreet.streetId = sc.area_id
		WHERE
			countyStreet.countyId = #{countyId}
			<if test="streetId != null and streetId != ''">
				AND countyStreet.streetId = #{streetId}
			</if>
			<if test="communityId != null and communityId != ''">
				AND sc.id  = #{communityId}
			</if>   
	</select>
	<select id="getAred" resultType="Map" parameterType="String">
		SELECT SUM(d.road) as roadNum,SUM(d.community) as communityNum,COUNT(*) as areaNum FROM 
		(SELECT COUNT(*) AS road,SUM(c.count) as community,b.parent_id as area FROM sb_area b  
		LEFT JOIN (SELECT DISTINCT a.area_id AS areaid ,COUNT(*) AS count FROM sb_company_service a  WHERE a.company_id = #{id} GROUP BY a.area_id) as c 
		ON b.id = c.areaid 
		WHERE c.areaid IS NOT NULL 
		AND c.count is NOT NULL 
		GROUP BY b.parent_id ) as d 
	</select>
	
	<select id="selectByNameCityId" parameterType="String" resultType="com.tzj.collect.entity.Area">
		SELECT
			a.*
		FROM
			sb_area a
		LEFT JOIN sb_area b ON b.id = a.parent_id
		WHERE
			a.area_name = #{streetName}
		AND b.parent_id = #{cityId}
	</select>
	<select id="allAreaList" resultType="Map">
		SELECT
			aresf.area_name,
			aresf.id,
			are.name_,
			are.`code`,
			are.zone_code,
			are.pri_code
		FROM
			(
				SELECT
					c.id,
					(
						SELECT
							area_name
						FROM
							sb_area
						WHERE
							id = SUBSTRING_INDEX(
								SUBSTRING_INDEX(c.parent_ids, '_', 1),
								'_' ,- 1
							)
					) AS 省,
					(
						SELECT
							area_name
						FROM
							sb_area
						WHERE
							id = SUBSTRING_INDEX(
								SUBSTRING_INDEX(c.parent_ids, '_', 2),
								'_' ,- 1
							)
					) AS 市,
					(
						SELECT
							area_name
						FROM
							sb_area
						WHERE
							id = SUBSTRING_INDEX(
								SUBSTRING_INDEX(c.parent_ids, '_', 3),
								'_' ,- 1
							)
					) AS 区,
					c.area_name,
					c.parent_ids
				FROM
					sb_area c
				WHERE
					c.parent_ids LIKE #{parentId}
				AND del_flag = 0
				AND type = 3
			) aresf
		RIGHT JOIN areatest are ON are.name_ = aresf.area_name
	</select>
	<select id="selectAreaParent" resultType="Map">
		SELECT
			areaInfo.*, saa.parent_id AS alPid
		FROM
			sb_area saa
		RIGHT JOIN (
			SELECT
				areaAre.*, saaArea.parent_id AS pId,
				saaArea.area_name AS alName
			FROM
				sb_area saaArea
			RIGHT JOIN (
				SELECT
					idPa.id,
					idPa.name_,
					idPa.parent_id,
					idPa.parent_ids,
					saa.area_name
				FROM
					sb_area saa
				INNER JOIN (
					SELECT
						saa.id,
						saa.parent_id,
						saa.parent_ids,
						area_name AS name_
					FROM
						sb_area saa
					WHERE
						saa.del_flag = 0
					AND saa.type = 3
					AND length(saa.parent_ids) - length(
						REPLACE (saa.parent_ids, '_', '')
					) BETWEEN 0 AND 2
				) idPa ON idPa.parent_id = saa.id
				WHERE
					saa.del_flag = 0
				AND saa.type = 2
			) areaAre ON areaAre.parent_id = saaArea.id
			WHERE
				saaArea.del_flag = 0
		) areaInfo ON areaInfo.pId = saa.id
		WHERE
			saa.type = 1;



	</select>

	<select id="adminGetCityList" resultType="Map" parameterType="String">
		SELECT
			a.id,
			CONCAT(b.area_name,'-',a.area_name) AS cityName
		FROM
			sb_area a
		inner JOIN sb_area b ON a.parent_id = b.id
		WHERE
			a.type = 1
		<if test="name != null and name != ''">
			AND a.area_name LIKE CONCAT(CONCAT('%',#{name}), '%')
		</if>
	</select>
	<select id="adminGetApplianceAreaRange" resultType="Map" parameterType="Integer">
		SELECT
			a.id,
			a.area_name as areaName,
		(SELECT COUNT(1) FROM ( SELECT a.area_id FROM sb_company_street_appliance a WHERE  a.company_id =  #{companyId} AND a.del_flag = 0 ) b WHERE b.area_id = a.id) AS num
		FROM
			sb_area a
		LEFT JOIN (SELECT a.id,a.area_id FROM sb_company_street_appliance a WHERE a.company_id =  #{companyId} GROUP BY a.area_id ) b ON a.id = b.area_id
		WHERE a.parent_id =  #{cityId}
	</select>
	<select id="adminGetHouseAreaRange" resultType="Map" parameterType="Integer">
		SELECT
			a.id,
			a.area_name as areaName,
		(SELECT COUNT(1) FROM ( SELECT a.area_id FROM sb_company_street_house a WHERE  a.company_id =  #{companyId} AND a.del_flag = 0 ) b WHERE b.area_id = a.id) AS num
		FROM
			sb_area a
		LEFT JOIN (SELECT a.id,a.area_id FROM sb_company_street_house a WHERE a.company_id =  #{companyId} GROUP BY a.area_id ) b ON a.id = b.area_id
		WHERE a.parent_id =  #{cityId}
	</select>
	<select id="adminGetBigAreaRange" parameterType="Integer" resultType="Map">
		SELECT
			a.id,
			a.area_name,
		(SELECT COUNT(1) FROM ( SELECT a.area_id FROM sb_company_street_big a WHERE  a.company_id =  #{companyId} AND a.del_flag = 0 ) b WHERE b.area_id = a.id) AS num
		FROM
			sb_area a
		LEFT JOIN (SELECT a.id,a.area_id FROM sb_company_street_big a WHERE a.company_id =  #{companyId} GROUP BY a.area_id ) b ON a.id = b.area_id
		WHERE a.parent_id = #{cityId}
	</select>

	<select id="adminGetApplianceStreetRange" resultType="Map" parameterType="Integer">
		SELECT
			a.id,
			a.area_name,
			IF(b.id is null,'1','2') AS isChoose,
			IF(c.id is null,'1','2') AS isEdit
		FROM
			sb_area a
		LEFT JOIN (SELECT a.id,a.street_id FROM sb_company_street_appliance a WHERE a.company_id = #{companyId} ) b ON a.id = b.street_id
		LEFT JOIN (SELECT a.id,a.street_id FROM sb_company_street_appliance a WHERE a.company_id != #{companyId} GROUP BY a.street_id) c ON a.id = c.street_id
		WHERE a.parent_id = #{areaId}
	</select>
	<select id="adminGetHouseStreetRange" resultType="Map" parameterType="Integer">
		SELECT
			a.id,
			a.area_name,
			IF(b.id is null,'1','2') AS isChoose,
			IF(c.id is null,'1','2') AS isEdit
		FROM
			sb_area a
		LEFT JOIN (SELECT a.id,a.street_id FROM sb_company_street_house a WHERE a.company_id = #{companyId} ) b ON a.id = b.street_id
		LEFT JOIN (SELECT a.id,a.street_id FROM sb_company_street_house a WHERE a.company_id != #{companyId} GROUP BY a.street_id) c ON a.id = c.street_id
		WHERE a.parent_id = #{areaId}
	</select>

	<select id="adminGetBigStreetRange" resultType="Map" parameterType="Integer">
		SELECT
			a.id,
			a.area_name,
			IF(b.id is null,'1','2') AS isChoose,
			IF(c.id is null,'1','2') AS isEdit
		FROM
			sb_area a
		LEFT JOIN (SELECT a.id,a.street_id FROM sb_company_street_big a WHERE a.company_id = #{companyId} ) b ON a.id = b.street_id
		LEFT JOIN (SELECT a.id,a.street_id FROM sb_company_street_big a WHERE a.company_id != #{companyId} GROUP BY a.street_id) c ON a.id = c.street_id
		WHERE a.parent_id = #{areaId}
	</select>
	<select id="getHouseRangeList" resultType="Map" parameterType="Integer">
		SELECT
			b.id,
			f.area_name AS cityId,
			d.area_name AS areaName,
			c.area_name AS streetName,
			b.name_ AS communityName
		FROM
			sb_company_service a
		LEFT JOIN sb_community b ON a.community_id = b.id
		LEFT JOIN sb_area c ON a.area_id = c.id
		LEFT JOIN sb_area d ON c.parent_id = d.id
		LEFT JOIN sb_area f ON d.parent_id = f.id
		WHERE
			a.company_id = #{companyId}
		ORDER BY a.create_date
		LIMIT #{pageStart},#{pageSize}
	</select>
	<select id="getHouseRangeCount" resultType="Integer" parameterType="Integer">
		SELECT
			COUNT(1)
		FROM
			sb_company_service a
		LEFT JOIN sb_community b ON a.community_id = b.id
		LEFT JOIN sb_area c ON a.area_id = c.id
		LEFT JOIN sb_area d ON c.parent_id = d.id
		LEFT JOIN sb_area f ON d.parent_id = f.id
		WHERE
			a.company_id = #{companyId}
		ORDER BY a.create_date
	</select>

	<select id="selectStreetList" resultType="com.tzj.collect.core.param.business.StreetNameBean">
		SELECT
			a.id,
			a.street_name as streetName,
			a.street_code as streetCode,
			a.towcode
		FROM
			sb_testme a
		WHERE a.street_code is null or a.street_code = '';
	</select>

	<select id="selectStreetListByName" parameterType="String" resultType="com.tzj.collect.core.param.business.StreetNameBean">
		SELECT
			a.id,
			a.h_street_name as streetName,
			a.h_street_code as streetCode
		FROM
			sb_testss a
		WHERE
			a.h_street_name = #{name}
		and a.h_street_code like CONCAT(#{code},'%')
	</select>
<update id="updateStreet" parameterType="String">
	update sb_testme set street_code = #{code} where id = #{id} and street_name = #{name}
</update>

	<select id="getCityListByLj" resultType="com.tzj.collect.entity.Area">
		SELECT
			a.id,
		CONCAT(b.area_name,'-',a.area_name) AS area_name,
			b.id AS parent_id
		FROM
			sb_area a
		LEFT JOIN sb_area b ON a.parent_id = b.id
		WHERE
			a.type = 1
	</select>
	<select id="getCompanyServiceList" parameterType="Object" resultType="Map">
		SELECT
			a.province,
			a.cityName,
			a.areaName,
			a.companyName,
			a.areaId,
			a.companyId,
			COUNT(1) AS count
		FROM (
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId
			FROM
			sb_company_street_appliance a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
			UNION
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId
			FROM
			sb_company_street_house a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
			UNION
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId
			FROM
			sb_company_street_big a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
		) a
		GROUP BY a.companyName,a.areaName
		ORDER BY a.companyName,a.areaName
		LIMIT #{pageStart},#{pageSize}
	</select>
	<select id="getCompanyServiceCount" parameterType="Object" resultType="Integer">
		select count(1) from (
			SELECT
			a.province,
			a.cityName,
			a.areaName,
			a.companyName,
			a.areaId,
			a.companyId,
			COUNT(1) AS count
			FROM (
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId
			FROM
			sb_company_street_appliance a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
			UNION
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId
			FROM
			sb_company_street_house a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
			UNION
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId
			FROM
			sb_company_street_big a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
			) a
			GROUP BY a.companyName,a.areaName
		) a
	</select>
	<select id="getCompanyStreetAllList" parameterType="Object" resultType="Map">
		SELECT
			b.id,
			b.area_name
		FROM
			sb_company_street_appliance a
		LEFT JOIN sb_area b ON a.street_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.area_id = #{areaId}
		UNION
		SELECT
			b.id,
			b.area_name
		FROM
			sb_company_street_house a
		LEFT JOIN sb_area b ON a.street_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.area_id = #{areaId}
		UNION
		SELECT
			b.id,
			b.area_name
		FROM
			sb_company_street_big a
		LEFT JOIN sb_area b ON a.street_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.area_id = #{areaId}
	</select>
	<select id="getCompanyServiceOutList" parameterType="String" resultType="Map">
		SELECT
			a.province,
			a.cityName,
			a.areaName,
			a.streetName,
			a.companyName,
			a.title
		FROM (
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId,
			f.area_name AS streetName,
			'家电数码' AS title
			FROM
			sb_company_street_appliance a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			LEFT JOIN sb_area f ON f.id = a.street_id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
			UNION
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId,
			f.area_name AS streetName,
			'生活垃圾' AS title
			FROM
			sb_company_street_house a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			LEFT JOIN sb_area f ON f.id = a.street_id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
			UNION
			SELECT
			e.area_name AS province,
			d.area_name AS cityName,
			c.area_name AS areaName,
			b.name_ AS companyName,
			a.area_id AS areaId,
			a.street_id AS streetId,
			a.company_id AS companyId,
			f.area_name AS streetName,
			'大件垃圾' AS title
			FROM
			sb_company_street_big a
			LEFT JOIN sb_company b ON a.company_id = b.id
			LEFT JOIN sb_area c ON a.area_id = c.id
			LEFT JOIN sb_area d ON c.parent_id = d.id
			LEFT JOIN sb_area e ON d.parent_id = e.id
			LEFT JOIN sb_area f ON f.id = a.street_id
			WHERE 1=1
			<if test="companyId != null and companyId != ''">
				AND a.company_id = #{companyId}
			</if>
			<if test="cityId != null and cityId != ''">
				AND d.id = #{cityId}
			</if>
			<if test="areaId != null and areaId != ''">
				AND a.area_id = #{areaId}
			</if>
		) a
		ORDER BY a.companyName,a.areaName
	</select>
</mapper>