<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.CategoryCityMapper" >


<select id="getCategoryCityLists" parameterType="Object" resultType="Map">
	SELECT
		a.id,
		a.name_ AS name,
		a.parent_id AS parentId,
		a.icon,
		IF(b.price is NULL,a.market_price,b.price) AS price
	FROM
		sb_category a
	LEFT JOIN (SELECT * FROM sb_category_city a WHERE a.parent_id = #{categoryId} AND a.city_id = #{cityId}) b ON a.id = b.category_id
	WHERE
		a.parent_id = #{categoryId}
	ORDER BY a.code_
</select>
<select id="getCategoryAttrOptionCityLists" parameterType="Object" resultType="Map">
	SELECT
		a.id,
		a.name_ AS name,
		IF(b.attr_option_price is null,a.price,b.attr_option_price) AS price,
		if(b.is_special is NULL,'0',b.is_special) AS isSpecial,
		if(b.is_recovery is NULL,'0',b.is_recovery) AS isRecovery,
		if(b.special_price is NULL,'0',b.special_price) AS specialPrice
	FROM
		sb_category_attr_option a
	LEFT JOIN ( SELECT * FROM sb_category_attr_option_city a WHERE a.city_id = #{cityId} ) b ON a.id = b.category_attr_option_id
	WHERE
		a.category_attr_id = #{categoryAttrId}
</select>



</mapper>