<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.CompanyEquipmentMapper" >
    <select id="adminIotOrderPage" parameterType="String" resultType="Map">
        SELECT
            IFNULL(
                SUM(personInfo.personCount),
                0
            ) AS orderSum,
            COUNT(personInfo.ali_user_id) AS personSum,
            comInfo.equipment_code,
            comInfo.name_ AS comName,
            comInfo.address
        FROM
            (
                SELECT
                    ali_user_id,
                    COUNT(1) AS personCount,
                    iot_equipment_code
                FROM
                    sb_order
                WHERE
                    del_flag = 0
                AND title = 5
                AND ali_user_id IS NOT NULL
                <if test="startTime != null and startTime !='' and endTime != null and endTime !='' ">
                    AND create_date BETWEEN #{startTime} AND #{endTime}
                </if>
                GROUP BY
                    ali_user_id,
                    iot_equipment_code
            ) personInfo
        RIGHT JOIN (
            SELECT
                sce.equipment_code,
                scc.name_,
                sce.address
            FROM
                sb_company_equipment sce
            INNER JOIN sb_company scc ON sce.company_id = scc.id
            WHERE
                sce.del_flag = 0
            AND scc.del_flag = 0
            <if test="companyId != null and companyId !='' ">
                AND sce.company_id = #{companyId}
            </if>
            <if test="equipmentCode != null and equipmentCode !='' ">
                AND sce.equipment_code = #{equipmentCode}
            </if>
        ) comInfo ON comInfo.equipment_code = personInfo.iot_equipment_code
        GROUP BY
            comInfo.equipment_code
        ORDER BY
            orderSum DESC
        LIMIT #{startSize}, #{endSize}
    </select>
    <select id="iotConRate" resultType="String" parameterType="String">
        SELECT
            CONCAT(
                IFNULL(
                    100 * ROUND(
                        COUNT(
                            personOtherCount.ali_user_id
                        ) / COUNT(personIotCount.ali_user_id),
                        2
                    ),
                    0
                ),
                '%'
            ) AS rate
        FROM
        (
            SELECT
                ali_user_id
            FROM
                sb_order
            WHERE
                title BETWEEN 1
                AND 4
                AND DATE_SUB(CURDATE(), INTERVAL #{day} DAY) &lt;= date(create_date)
            GROUP BY
                ali_user_id
        ) personOtherCount
        RIGHT JOIN (
            SELECT
                ali_user_id
            FROM
                sb_order
            WHERE
                del_flag = 0
                AND title = 5
                AND ali_user_id IS NOT NULL
                AND DATE_SUB(CURDATE(), INTERVAL #{day} DAY) &lt;= date(create_date)
            GROUP BY
                ali_user_id
        ) personIotCount ON personOtherCount.ali_user_id = personIotCount.ali_user_id
    </select>
    <select id="adminIotOrderList" parameterType="String" resultType="Map">
        SELECT
            ali_user_id,
            iot_equipment_code,
            create_date,
            order_no
        FROM
            sb_order
        WHERE
            del_flag = 0
        AND title = 5
        AND ali_user_id is not NULL
        AND create_date BETWEEN #{startTime}
        AND #{endTime}
        <if test="companyId != null and companyId !='' ">
            AND company_id = #{companyId}
        </if>
        <if test="equipmentCode != null and equipmentCode !='' ">
            AND iot_equipment_code = #{equipmentCode}
        </if>
    </select>
</mapper>