<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.CompanyRecyclerMapper">
	
	<select id="selectCompanyByRecyclerId" parameterType="String" resultType="Company"> 
		SELECT
			sc.*
		FROM
			sb_company sc
		INNER JOIN (
			SELECT
				scr.company_id
			FROM
				sb_company_recycler scr
			LEFT JOIN sb_recyclers sr ON scr.recycler_id = sr.id WHERE  scr.status_='1'
		AND sr.id = #{recyclerId}
		) scrs ON scrs.company_id = sc.id
    </select> 

	<select id="selectRecycleByCompanyId" parameterType="long" resultType="java.lang.Integer">
			 SELECT
				count(*)
			FROM
				sb_company_recycler scr
			LEFT JOIN sb_company sc ON scr.company_id = sc.id
			WHERE
				scr.status_ = '1'
			    AND sc.id =#{companyId}
	            AND sc.del_flag='0' 
	</select>


	<select id="getRecyclerCompanyStatus" resultType="com.tzj.collect.core.result.app.AppCompany" parameterType="String">
		SELECT
			sc.name_ as comName,
			sc.id,
			scr.status_
		FROM
			sb_company sc
		INNER JOIN sb_company_recycler scr ON sc.id = scr.company_id
		WHERE
			scr.recycler_id = #{recyclerId}
	</select>
	
	 <select id="findIdCard" resultType="Recyclers" parameterType="com.tzj.collect.core.param.business.BusinessRecyclerBean">
	         SELECT
				 sr.id,
			sr.id_card_obv,
			sr.id_card_rev
		FROM
			sb_recyclers sr
		WHERE
		  sr.id = #{recyclerBean.id}
     </select>
     
     <select id="getCurrComList" resultType="com.tzj.collect.core.result.app.AppCompany" parameterType="com.tzj.collect.core.param.app.RecyclersBean">
     	SELECT
			sc.id,
			sc.name_ AS comName,
			sc.tel,
			scrsc.status_ AS status
		FROM
			(
				SELECT
					scr.company_id,
					scr.status_
				FROM
					sb_company_recycler scr
				WHERE
				    scr.recycler_id = #{recyclerBean.id}
			) scrsc INNER  JOIN sb_company sc ON sc.id = scrsc.company_id
		ORDER BY scrsc.status_ ASC LIMIT #{startSize} , #{pageSize}
     </select>
	<select id="getBigCurrcomList" resultType="com.tzj.collect.core.result.app.AppCompany" parameterType="com.tzj.collect.core.param.app.RecyclersBean">
     	SELECT
			sc.id,
			sc.name_ AS comName,
			sc.tel,
			scrsc.status_ AS status
		FROM
			(
				SELECT
					scr.company_id,
					scr.status_
				FROM
					sb_company_recycler scr
				WHERE
				    scr.recycler_id = #{recyclerBean.id}
				AND scr.type_ = '4'
			) scrsc INNER  JOIN sb_company sc ON sc.id = scrsc.company_id
		ORDER BY scrsc.status_ ASC LIMIT #{startSize} , #{pageSize}
     </select>
     <select id="getCurrComCount" resultType="Integer" parameterType="com.tzj.collect.core.param.app.RecyclersBean">
     	SELECT
			COUNT(*)
		FROM
			(
				SELECT
					scr.company_id,
					scr.status_
				FROM
					sb_company_recycler scr
				WHERE
				scr.recycler_id = #{recyclerBean.id}
			) scrsc INNER  JOIN sb_company sc ON sc.id = scrsc.company_id
     </select>
     <select id="getNotEnterComList" resultType="com.tzj.collect.core.result.app.AppCompany" parameterType="com.tzj.collect.core.param.app.RecyclersBean">
     	SELECT
			sc.name_ AS comName,
			sc.id AS id,
			IF (cr.status_ = 1, 1, 0) AS status
		FROM
			sb_company sc
		LEFT JOIN (
			SELECT
				*
			FROM
				sb_company_recycler
			WHERE
				recycler_id = #{recyclerBean.id}
		) cr ON sc.id = cr.company_id
		WHERE
			sc.name_ like  CONCAT('%',#{recyclerBean.name},'%')
		LIMIT #{startSize} , #{pageSize}

     </select>
     
     <select id="getNotEnterComCount" resultType="Integer" parameterType="com.tzj.collect.core.param.app.RecyclersBean">
     SELECT
		SUM(temCount) AS countNum
	FROM
		(
			SELECT
				COUNT(*) AS temCount
			FROM
				sb_company sc
			WHERE
				sc.id NOT IN (
					SELECT
						scr.company_id
					FROM
						sb_company_recycler scr
					WHERE
						scr.recycler_id = #{recyclerBean.id}
				)
			UNION ALL
				SELECT
					COUNT(*) AS temCount
				FROM
					sb_company_recycler scr
				INNER JOIN sb_company sc ON sc.id = scr.company_id
				WHERE
					scr.recycler_id = #{recyclerBean.id}
				AND scr.status_ = '2'
		) AS teb
     </select>
     
     <select id="getComCateList" resultType="com.tzj.collect.core.result.app.AppCompany" parameterType="com.tzj.collect.core.param.app.RecyclersBean">
     	SELECT
		DISTINCT
			sccco.company_id AS id,
			sc.name_ AS cateName
		FROM
			(
				SELECT
					scc.category_id,
					scc.company_id
				FROM
					sb_company_category scc
				WHERE
					scc.del_flag = '0'
					AND  scc.company_id IN
			<foreach collection="recyclerBean.comIdsList" index="index" item="item" open="(" separator="," close=")">  
	        	#{item}  
	   		</foreach>
			) sccco
		LEFT JOIN sb_category sc ON sc.id = sccco.category_id
     </select>
     
     <select id="getgetSearchCompanyRecyclerList" resultType="com.tzj.collect.core.param.business.BusinessRecyclerBean"  parameterType="com.tzj.collect.core.param.business.BusinessRecyclerBean">
    	select  sr.id ,sr.name_ as recyclerName,sr.id_card as idCard,sr.tel as telephone,scr.del_flag as delflag from  sb_company_recycler  scr
        inner join  sb_recyclers sr
        on sr.id=scr.recycler_id
        inner join  sb_company sc
		on sc.id = scr.company_id
		where scr.status_='1' and sc.id= #{recyclerBean.companyId}
       <if test="recyclerBean.recyclerName != null and recyclerBean.recyclerName!='' ">  
         and  sr.name_ =#{recyclerBean.recyclerName}
       </if>
       
         <if test="recyclerBean.idCard != null and recyclerBean.idCard!='' ">  
         and  sr.id_card =#{recyclerBean.idCard}
       </if>
       ORDER BY scr.update_date desc
     
     </select>
	<select id="getCompanyRange" resultType="Map" parameterType="Integer">
		SELECT * from (SELECT DISTINCT
			d.id,
			CONCAT(f.area_name,'-',d.area_name) AS area_name
		FROM
			sb_company_service a
		INNER JOIN sb_area b ON a.area_id = b.id
		LEFT JOIN sb_area c ON b.parent_id = c.id
		LEFT JOIN sb_area d ON c.parent_id = d.id
		LEFT JOIN sb_area f ON d.parent_id = f.id
		WHERE
			a.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND c.del_flag = 0
		AND d.del_flag = 0) aa
		union
		SELECT * from(
		SELECT DISTINCT
			c.id,
			CONCAT( d.area_name, '-', c.area_name ) AS area_name
		FROM
			sb_company_street_appliance a
		LEFT JOIN sb_area b ON a.area_id = b.id
		LEFT JOIN sb_area c ON b.parent_id = c.id
		LEFT JOIN sb_area d ON d.id = c.parent_id
		WHERE
			a.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND c.del_flag = 0)cc
			union
		SELECT * from(
		SELECT DISTINCT
			c.id,
			CONCAT( d.area_name, '-', c.area_name ) AS area_name
		FROM
			sb_company_street_house a
		LEFT JOIN sb_area b ON a.area_id = b.id
		LEFT JOIN sb_area c ON b.parent_id = c.id
		LEFT JOIN sb_area d ON d.id = c.parent_id
		WHERE
			a.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND c.del_flag = 0)cc
	</select>

	<select id="getBigCompanyRange" resultType="Map" parameterType="Integer">
		SELECT * from(
		SELECT DISTINCT
			c.id,
			CONCAT( d.area_name, '-', c.area_name ) AS area_name
		FROM
			sb_company_street_big a
		LEFT JOIN sb_area b ON a.area_id = b.id
		LEFT JOIN sb_area c ON b.parent_id = c.id
		LEFT JOIN sb_area d ON d.id = c.parent_id
		WHERE
			a.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND c.del_flag = 0)cc
	</select>
	<select id="getAppliceCompanyRange" resultType="Map" parameterType="Integer">
		SELECT * from (SELECT DISTINCT
			d.id,
			CONCAT(f.area_name,'-',d.area_name) AS area_name
		FROM
			sb_company_service a
		INNER JOIN sb_area b ON a.area_id = b.id
		LEFT JOIN sb_area c ON b.parent_id = c.id
		LEFT JOIN sb_area d ON c.parent_id = d.id
		LEFT JOIN sb_area f ON d.parent_id = f.id
		WHERE
			a.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND c.del_flag = 0
		AND d.del_flag = 0) aa
		union
		SELECT * from(
		SELECT DISTINCT
			c.id,
			CONCAT( d.area_name, '-', c.area_name ) AS area_name
		FROM
			sb_company_street_appliance a
		LEFT JOIN sb_area b ON a.area_id = b.id
		LEFT JOIN sb_area c ON b.parent_id = c.id
		LEFT JOIN sb_area d ON d.id = c.parent_id
		WHERE
			a.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND c.del_flag = 0)cc
	</select>
	<select id="getHouseCompanyRange" resultType="Map" parameterType="Integer">
		SELECT * from (SELECT DISTINCT
			d.id,
			CONCAT(f.area_name,'-',d.area_name) AS area_name
		FROM
			sb_company_service a
		INNER JOIN sb_area b ON a.area_id = b.id
		LEFT JOIN sb_area c ON b.parent_id = c.id
		LEFT JOIN sb_area d ON c.parent_id = d.id
		LEFT JOIN sb_area f ON d.parent_id = f.id
		WHERE
			a.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND c.del_flag = 0
		AND d.del_flag = 0) aa
		union
		SELECT * from(
		SELECT DISTINCT
			c.id,
			CONCAT( d.area_name, '-', c.area_name ) AS area_name
		FROM
			sb_company_street_house a
		LEFT JOIN sb_area b ON a.area_id = b.id
		LEFT JOIN sb_area c ON b.parent_id = c.id
		LEFT JOIN sb_area d ON d.id = c.parent_id
		WHERE
			a.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND c.del_flag = 0)cc
	</select>
     <select id="companyBlueTooth" resultType="Map" parameterType="String">
		SELECT
			IF(scc.blue_tooth = 0, 'No','Yes') as blueTooth,
			company_id as companyId
		FROM
			sb_company_recycler scr
		INNER JOIN sb_company scc ON scc.id = scr.company_id
		WHERE
			scr.recycler_id = #{recId}
			AND scr.type_ = 1
			AND scr.status_ = 1
		GROUP BY
			scr.company_id
		LIMIT 1
	 </select>
	<select id="selectRecycleInfoByCompanyId" resultType="Map" parameterType="Object">
		SELECT
			srr.name_,
			srr.tel AS mobile
		FROM
			sb_recyclers srr
		INNER JOIN (
			SELECT
				scr.recycler_id
			FROM
				sb_company_recycler scr
			INNER JOIN sb_company sc ON scr.company_id = sc.id
			WHERE
				scr.status_ = '1'
			AND sc.id = #{recId}
			AND sc.del_flag = '0'
			AND scr.type_ = 1
			GROUP BY
				scr.recycler_id
		) scrsc ON scrsc.recycler_id = srr.id
	</select>
	<select id="selectRecByHardwareCode" resultType="Map">
		SELECT
			scr.recycler_id AS recId,
			sce.equipment_code AS equipmentCode,
			sce.address,
			sce.company_id as comId,
			sce.area_id as areaId,
			sce.set_value
		FROM
			sb_company_recycler scr
		INNER JOIN sb_company_equipment sce
		WHERE
			sce.del_flag = 0
		AND scr.del_flag = 0
		AND sce.hardware_code = #{topic}
		ORDER BY
			RAND()
		LIMIT 1
	</select>
	<select id="getRecyclerList" parameterType="Object" resultType="Map">
		SELECT
			a.recycler_id AS recyclerId,
			b.name_ AS recyclerName,
			b.tel,
			d.area_name AS provinceName,
			f.area_name AS cityName,
			c.id AS companyId,
			c.name_ AS companyName,
			a.type_ AS type,
			a.is_manager AS isManager,
			a.is_enable_area AS isEnableArea,
			b.is_enable_card AS isEnableCard
		FROM
			sb_company_recycler a
		LEFT JOIN sb_recyclers b ON a.recycler_id = b.id
		LEFT JOIN sb_company c ON a.company_id = c.id
		LEFT JOIN sb_area d ON a.province = d.id
		LEFT JOIN sb_area f ON a.city = f.id
		WHERE
			a.status_ = 1
		AND a.is_manager = 1
		<if test="recyclerTel != null and recyclerTel!='' ">
			AND b.tel LIKE CONCAT('%',#{recyclerTel},'%')
		</if>
		<if test="recyclerName != null and recyclerName!='' ">
			AND b.name_ LIKE CONCAT('%',#{recyclerName},'%')
		</if>
		<if test="cityId != null and cityId!='' ">
			AND f.id = #{cityId}
		</if>
		ORDER BY
			a.recycler_id
		LIMIT #{pageStart},#{pageSize}
	</select>
	<select id="getRecyclerCount" parameterType="String" resultType="Integer">
		SELECT
			count(1)
		FROM
			sb_company_recycler a
		LEFT JOIN sb_recyclers b ON a.recycler_id = b.id
		LEFT JOIN sb_company c ON a.company_id = c.id
		LEFT JOIN sb_area d ON a.province = d.id
		LEFT JOIN sb_area f ON a.city = f.id
		WHERE
			a.status_ = 1
		AND a.is_manager = 1
		<if test="recyclerTel != null and recyclerTel!='' ">
			AND b.tel LIKE CONCAT('%',#{recyclerTel},'%')
		</if>
		<if test="recyclerName != null and recyclerName!='' ">
			AND b.name_ LIKE CONCAT('%',#{recyclerName},'%')
		</if>
		<if test="cityId != null and cityId!='' ">
			AND f.id = #{cityId}
		</if>
	</select>

	<select id="getRecyclerSonList" parameterType="String" resultType="Map">
		SELECT
			a.recycler_id AS recyclerId,
			b.name_ AS recyclerName,
			b.tel,
			c.id AS companyId,
			c.name_ AS companyName,
			a.type_ AS type,
			a.is_manager AS isManager,
			a.is_enable_area AS isEnableArea,
			b.is_enable_card AS isEnableCard
		FROM
			sb_company_recycler a
		LEFT JOIN sb_recyclers b ON a.recycler_id = b.id
		LEFT JOIN sb_company c ON a.company_id = c.id
		WHERE
			a.parents_id = #{recyclerId}
		AND a.type_ = #{type}
	</select>
	<delete id="closeCompanyApplianceByRecyclerId" parameterType="Object">
		DELETE
		FROM
			sb_company_street_appliance
		WHERE
			company_id = #{companyId}
		AND street_id IN (
			SELECT
				a.street_id
			FROM
				sb_recyclers_range_appliance a
			WHERE
				a.recyclers_id = #{recyclerId}
			AND a.company_id = #{companyId}
		)
	</delete>
	<delete id="closeCompanyHouseByRecyclerId" parameterType="Object">
		DELETE
		FROM
			sb_company_street_house
		WHERE
			company_id = #{companyId}
		AND street_id IN (
			SELECT
				a.street_id
			FROM
				sb_recyclers_range_house a
			WHERE
				a.recyclers_id = #{recyclerId}
			AND a.company_id = #{companyId}
		)
	</delete>
	<delete id="closeCompanyBigByRecyclerId" parameterType="Object">
		DELETE
		FROM
			sb_company_street_big
		WHERE
			company_id = #{companyId}
		AND street_id IN (
			SELECT
				a.street_id
			FROM
				sb_recyclers_range_big a
			WHERE
				a.recyclers_id = #{recyclerId}
			AND a.company_id = #{companyId}
		)
	</delete>
	<update id="updateRecycler" parameterType="Object">
		UPDATE sb_company_recycler a
		SET a.is_enable_area = "1"
		WHERE
			a.parents_id = #{recyclerId}
		AND a.type_ = #{type};
	</update>
	<select id="dsddPositionCount" parameterType="Long" resultType="Integer">
		SELECT
			COUNT(1)
		FROM
			sb_company_recycler a
		INNER JOIN dsdd_recycle_position b ON a.company_id = b.company_id
		WHERE
			a.recycler_id = #{recyclerId}
		AND a.status_ = 1
		AND b.is_enable = 1
	</select>

</mapper>