<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.CompanyCategoryCityNameMapper" >

	<select id="getCategoryListByCompanyCityId" parameterType="Object" resultType="Map">
		SELECT
			a.id,
			a.parent_id AS parentId,
			a.name_ AS name,
			a.price,
			a.market_price AS marketPrice,
			b.isChoose
		FROM
			sb_category a
		INNER JOIN (
			SELECT
				a.category_id,

			IF (b.id IS NULL, '1', '2') AS isChoose
			FROM
				sb_company_category a
			LEFT JOIN sb_company_category_city_name b ON a.category_id = b.category_id
			AND a.company_id = b.company_id
			AND b.city_id = #{cityId}
			WHERE
				a.company_id = #{companyId}
			AND a.parent_id = #{categoryId}
		) b ON a.id = b.category_id
	</select>
	<select id="getAppliceCategoryByCompanyId" parameterType="Integer" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.*
		FROM
			sb_company_category_city_name a
		INNER JOIN sb_company_category c ON a.company_id = c.company_id AND a.category_id = c.category_id
		INNER JOIN sb_category b ON a.parent_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.city_id = #{cityId}
		AND b.title = 1
	</select>

	<select id="getElectroMobileCategoryByCompanyId" parameterType="Integer" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.*
		FROM
			sb_company_category_city_name a
		INNER JOIN sb_company_category c ON a.company_id = c.company_id AND a.category_id = c.category_id
		INNER JOIN sb_category b ON a.parent_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.city_id = #{cityId}
		AND b.title = 9
	</select>

	<select id="getBigCategoryByCompanyId" parameterType="Integer" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.*
		FROM
			sb_company_category_city_name a
		INNER JOIN sb_company_category c ON a.company_id = c.company_id AND a.category_id = c.category_id
		INNER JOIN sb_category b ON a.parent_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.city_id = #{cityId}
		AND b.title = 4
	</select>
	<select id="getHouseCategoryByCompanyId" parameterType="Integer" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.*
		FROM
			sb_company_category_city_name a
		INNER JOIN sb_company_category c ON a.company_id = c.company_id AND a.category_id = c.category_id
		INNER JOIN sb_category b ON a.parent_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.city_id = #{cityId}
		AND b.title = 2
		AND b.unuseful = 0
		and b.del_flag =0
		ORDER BY b.code_ ASC
	</select>
	<select id="getHouseCategoryByCategoryId" parameterType="Integer" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.id,
			b.parent_id,
			b.parent_ids,
			b.name_,
			b.sort_,
			b.code_,
			b.level_,
			b.icon,
			if(c.id is NOT null,c.price,IF(e.price is NULL,d.price,e.price)) AS price,
			b.market_price,
			b.unit,
			b.rec_notes,
			b.rec_type_exp,
			b.green_count,
			b.ant_forest_pic,
			b.icon_img,
			b.icon_pic
		FROM
		 (select a.* from sb_company_category_city_name a WHERE a.company_id = #{companyId} AND a.city_id = #{cityId} AND a.parent_id = #{categoryId} and del_flag ='0') a
		LEFT JOIN sb_category b ON a.category_id = b.id
		LEFT JOIN sb_company_category_city c ON a.company_id = c.company_id AND a.city_id = c.city_id AND a.category_id = c.category_id
		LEFT JOIN sb_company_category d ON a.company_id = d.company_id AND a.category_id = d.category_id
		LEFT JOIN (SELECT * FROM sb_category_city a WHERE a.parent_id = #{categoryId} AND a.city_id = #{cityId}) e ON a.category_id = e.category_id
		WHERE
			a.company_id = #{companyId}
		AND a.city_id = #{cityId}
		AND a.parent_id = #{categoryId}
		AND b.del_flag =0

	</select>
	<select id="getFiveCategoryByCompanyId" parameterType="Integer" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.*
		FROM
			sb_company_category a
		LEFT JOIN sb_category b ON a.parent_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND b.title = 2
		AND b.unuseful = 0
	</select>
	<select id="getFiveCategoryByCategoryId" parameterType="Integer" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.id,
			b.parent_id,
			b.parent_ids,
			b.name_,
			b.sort_,
			b.code_,
			b.level_,
			b.icon,
			a.price AS price,
			b.market_price,
			b.unit,
			b.rec_notes,
			b.rec_type_exp,
			b.green_count,
			b.ant_forest_pic,
			b.icon_img,
			b.icon_pic
		FROM
			sb_company_category a
		LEFT JOIN sb_category b ON a.category_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.parent_id = #{categoryId}
		and a.del_flag ='0'
		and b.del_flag ='0'
	</select>
	<select id="getOneCategoryList" parameterType="Object" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.*
		FROM
			sb_company_category_city_name a
		INNER JOIN sb_category b ON a.parent_id = b.id
		WHERE
			a.company_id = #{companyId}
		AND a.city_id = #{cityId}
		AND b.title = 2
		AND b.unuseful = 0
		AND b.del_flag =0
	</select>
	<select id="getTwoCategoryList" parameterType="Object" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.id,
			b.parent_id,
			b.parent_ids,
			b.name_,
			b.sort_,
			b.code_,
			b.level_,
			b.icon,
			if(soi.price is null,if(c.price is NOT null,c.price,if(d.price is null,b.price,d.price)),FORMAT(soi.price,2)) AS price,
			b.market_price,
			b.unit,
			b.rec_notes,
			b.rec_type_exp,
			b.green_count,
			b.ant_forest_pic,
			b.icon_img,
			b.icon_pic
		FROM
			sb_company_category_city_name a
		LEFT JOIN sb_category b ON a.category_id = b.id
		LEFT JOIN sb_company_category_city c ON a.company_id = c.company_id AND a.city_id = c.city_id AND a.category_id = c.category_id
		LEFT JOIN sb_category_city d ON d.city_id = a.city_id AND a.category_id = d.category_id
		LEFT JOIN (SELECT * FROM sb_order_item a WHERE a.order_id = #{orderId}) soi ON soi.category_id = a.category_id
		WHERE
			a.company_id = #{companyId}
		AND a.city_id = #{cityId}
		AND a.parent_id = #{categoryId}
		AND b.del_flag =0
	</select>
	<select id="getTwoCategoryListLocal" parameterType="Object" resultType="com.tzj.collect.entity.Category">
		SELECT DISTINCT
			b.id,
			b.parent_id,
			b.parent_ids,
			b.name_,
			b.sort_,
			b.code_,
			b.level_,
			b.icon,
			if(c.id is NOT null,c.price,d.price) AS price,
			b.market_price,
			b.unit,
			b.rec_notes,
			b.rec_type_exp,
			b.green_count,
			b.ant_forest_pic,
			b.icon_img,
			b.icon_pic
		FROM
			sb_company_category_city_name a
		INNER JOIN sb_category b ON a.category_id = b.id
		INNER JOIN sb_company_category cc ON a.company_id = cc.company_id AND a.category_id = cc.category_id
		LEFT JOIN sb_company_category_city_locale c ON a.company_id = c.company_id AND a.city_id = c.city_id AND a.category_id = c.category_id
		LEFT JOIN sb_company_category d ON a.company_id = d.company_id AND a.category_id = d.category_id
		WHERE
			a.company_id = #{companyId}
		AND a.city_id = #{cityId}
		AND a.parent_id = #{categoryId}
	</select>


</mapper>
