<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.CompanyCityRatioMapper" >

	<select id="getCityRatioByCompanyCityId" parameterType="Object" resultType="BigDecimal">
		SELECT
			IF( b.ratio IS NULL, a.ratio, b.ratio) AS ratio
		FROM
			sb_area a
		LEFT JOIN ( SELECT * FROM sb_company_city_ratio WHERE city_id = #{cityId} AND company_id = #{companyId} ) b ON b.city_id = a.id
		WHERE
			a.id = #{cityId}
	</select>


</mapper>
