<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.CompanyStreetBigMapper">
    <select id="selectStreetBigCompanyId" resultType="Integer" parameterType="Integer">
       SELECT
	      a.company_id
        FROM
            sb_company_street_big a
        WHERE
            a.street_id = #{streetId}
    </select>
    <select id="selectStreetBigCompanyIdByCategoryId" resultType="Integer" parameterType="Integer">
       SELECT DISTINCT
	      d.company_id
        FROM
            sb_company_street_big a
        LEFT JOIN sb_area b ON a.street_id = b.id
        LEFT JOIN sb_area c ON b.parent_id = c.id
        LEFT JOIN sb_company_category_city_name d ON a.company_id = d.company_id AND c.parent_id = d.city_id
        LEFT JOIN sb_category e ON e.id = d.category_id
        WHERE
            a.street_id = #{streetId}
        AND e.parent_id = #{categoryId}
        AND	d.id is NOT NULL
    </select>
    <select id="companyAreaRanges" parameterType="String" resultType="Map">
        SELECT DISTINCT
            (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    c.parent_id AS cityId
                FROM
                    sb_company_street_big b
                INNER JOIN sb_area c ON b.area_id = c.id
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    c.parent_id
            UNION
                SELECT
                        c.parent_id AS cityId
                    FROM
                        sb_company_service a
                    INNER JOIN sb_area b ON a.area_id = b.id
                    INNER JOIN sb_area c ON c.id = b.parent_id
                    WHERE
                        a.company_id = #{companyId}
                    AND a.del_flag = 0
                    GROUP BY
                        c.parent_id
            )a ) AS cityNum,
        (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    b.area_id AS areaId
                FROM
                    sb_company_street_big b
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    b.area_id
            UNION
                SELECT
                    b.parent_id AS areaId
                FROM
                    sb_company_service a
                INNER JOIN sb_area b ON a.area_id = b.id
                WHERE
                    a.company_id = #{companyId}
                AND a.del_flag = 0
                GROUP BY
                    b.parent_id
            )a) AS areaNum,
        (SELECT
            COUNT(1) AS num
        FROM
            (
                SELECT
                    b.street_id AS streetId
                FROM
                    sb_company_street_big b
                WHERE
                    b.company_id = #{companyId}
                AND b.del_flag = 0
                GROUP BY
                    b.street_id
            UNION
                SELECT
                    a.area_id AS streetId
                FROM
                    sb_company_service a
                WHERE
                    a.company_id = #{companyId}
                AND a.del_flag = 0
                GROUP BY
                    a.area_id
            ) a) AS streetNum,
        0 AS community
        FROM
            sb_company a
        WHERE
            a.id = #{companyId}
        AND a.del_flag = 0
    </select>
	<select id="getAreaStreetList" parameterType="Object" resultType="Map">
        SELECT
        a.id,
        b.area_name AS streetName,
        c.area_name AS areaName,
        d.area_name AS cityName
        FROM
        sb_company_street_big a
        LEFT JOIN sb_area b ON a.street_id = b.id
        LEFT JOIN sb_area c ON c.id = b.parent_id
        LEFT JOIN sb_area d ON d.id = c.parent_id
        WHERE a.company_id = #{companyId}
        <if test="cityName != null and cityName !='' ">
            AND d.area_name like CONCAT('%',CONCAT(#{cityName},'%'))
        </if>
        <if test="areaName != null and areaName !='' ">
            AND c.area_name like CONCAT('%',CONCAT(#{areaName},'%'))
        </if>
        ORDER BY a.create_date
        LIMIT #{starts},#{ends}
    </select>
    <select id="getAreaStreetCount" parameterType="Object" resultType="Integer">
        SELECT
        count(1)
        FROM
        sb_company_street_big a
        LEFT JOIN sb_area b ON a.street_id = b.id
        LEFT JOIN sb_area c ON c.id = b.parent_id
        LEFT JOIN sb_area d ON d.id = c.parent_id
        WHERE a.company_id = #{companyId}
        <if test="cityName != null and cityName !='' ">
            AND d.area_name like CONCAT('%',CONCAT(#{cityName},'%'))
        </if>
        <if test="areaName != null and areaName !='' ">
            AND c.area_name like CONCAT('%',CONCAT(#{areaName},'%'))
        </if>
    </select>
</mapper>