<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.CompanyCategoryAttrOptionCityMapper">

    <select id="selectComCityCateAttOptPrice" parameterType="String" resultType="com.tzj.collect.core.result.business.BusinessCategoryResult">
        SELECT
			acao.id AS attOptionId,
			acao.name_ AS attOptionName,
			IF(sccao.id is null,'0',sccao.id) AS comOptPriceId,
			IF(sccao.attr_option_price is NULL ,acao.price,sccao.attr_option_price) AS comOptPrice,
			IF(sccao.is_recovery is NULL ,IF(b.is_recovery is NULL,'0',b.is_recovery),sccao.is_recovery) AS isRecovery,
			IF(sccao.is_special is NULL ,IF(b.is_special is NULL,'0',b.is_special),sccao.is_special) AS isSpecial,
			IF(sccao.special_price is NULL ,IF(b.special_price is NULL,'0.00',b.special_price),sccao.special_price) AS specialPrice
		FROM
			sb_category_attr_option acao
		LEFT JOIN (SELECT * FROM sb_category_attr_option_city b WHERE b.city_id = #{cityid}) b ON b.category_attr_option_id = acao.id
		LEFT JOIN (SELECT * FROM sb_company_category_attr_option_city a WHERE a.company_id = #{companyId} AND a.city_id = #{cityid}) sccao ON sccao.category_attr_option_id = acao.id
		WHERE
				acao.category_attr_id =  #{categoryAttrId}
    </select>

	<select id="getCategoryAttrOptionByCityId" parameterType="String" resultType="com.tzj.collect.core.param.ali.AliCategoryAttrOptionBean">
		SELECT DISTINCT
		a.id AS id,
		a.name_ AS `name`,
		a.sort_ AS sort,
		if(a.is_special = '1',CONCAT('P',b.special_price), b.attr_option_price) AS price,
		a.category_attr_id AS categoryAttrId,
		a.is_special AS isSpecial,
		b.special_price AS specialPrice
		FROM
		sb_category_attr_option a
		LEFT JOIN sb_company_category_attr_option_city b ON a.id = b.category_attr_option_id
		WHERE
		a.id = #{optionId}
		AND b.attr_option_price IS NOT NULL
		AND b.company_id = #{companyId}
		AND a.del_flag = 0
		AND b.del_flag = 0
		AND b.city_id = #{cityId}
	</select>


</mapper>
