<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.IotOrderMapper" >


    <select id="getOrderlist" parameterType="Object" resultType="IotOrder">
        SELECT
      a.order_no as orderNo,a.create_date as createDate,a.status_ as status
        FROM
        sb_iot_order a
        WHERE
        a.ali_user_id = #{aliUserId}
        AND a.status_ = #{status}
        AND a.del_flag = '0'
        ORDER BY
        a.create_date DESC
        LIMIT #{sizeStart} , #{size}
    </select>


</mapper>