<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.LineQrCodeMapper" >
    <select id="lineQrCodeReport" parameterType="String" resultType="Map">
        SELECT
            slqc.name_,
            CONCAT(slqc.create_date,'') as create_date,
            slqc.share_code,
            slqc.qr_code_info,
            slqc.share_num,
            IFNULL(slqco.count_, 0) AS count_,
            CONCAT(
                ROUND(
                    IFNULL(
                        slqco.count_ / slqc.share_num,
                        0
                    ) * 100,
                    2
                ),
                '%'
            ) AS level_
        FROM
            sb_line_qr_code slqc
        LEFT JOIN (
            SELECT
                slqco.share_code,
                COUNT(1) AS count_
            FROM
                sb_line_qr_code_order slqco
            GROUP BY
                slqco.share_code
        ) slqco ON slqc.share_code = slqco.share_code
        WHERE
            slqc.qr_type = #{qrType}
        <if test="qrName != null and qrName !='' ">
            AND slqc.name_ = #{qrName}
        </if>
        <if test="startTime != null and startTime !='' and endTime != null and endTime !=''">
            AND slqc.create_date BETWEEN #{startTime}
            AND #{endTime}
        </if>
        ORDER BY
            level_ DESC
        LIMIT #{startPage},
        #{pageSize}
    </select>

</mapper>