<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.MemberMapper">

	<select id="getMemberCount" resultType="Long">
		SELECT sum(b.a) from
		(select count(1) a   from sb_member00 UNION ALL select count(1) from sb_member01
		UNION ALL select count(1) from sb_member02 UNION ALL select count(1) from sb_member03
		UNION ALL select count(1) from sb_member04 UNION ALL select count(1) from sb_member05
		UNION ALL select count(1) from sb_member06 UNION ALL select count(1) from sb_member07
		UNION ALL select count(1) from sb_member08 UNION ALL select count(1) from sb_member09
		UNION ALL select count(1) from sb_member10 UNION ALL select count(1) from sb_member11
		UNION ALL select count(1) from sb_member12 UNION ALL select count(1) from sb_member13
		UNION ALL select count(1) from sb_member14 UNION ALL select count(1) from sb_member15
		UNION ALL select count(1) from sb_member16 UNION ALL select count(1) from sb_member17
		UNION ALL select count(1) from sb_member18 UNION ALL select count(1) from sb_member19
		UNION ALL select count(1) from sb_member20 UNION ALL select count(1) from sb_member21
		UNION ALL select count(1) from sb_member22 UNION ALL select count(1) from sb_member23
		UNION ALL select count(1) from sb_member24 UNION ALL select count(1) from sb_member25
		UNION ALL select count(1) from sb_member26 UNION ALL select count(1) from sb_member27
		UNION ALL select count(1) from sb_member28 UNION ALL select count(1) from sb_member29
		UNION ALL select count(1) from sb_member30 UNION ALL select count(1) from sb_member31
		UNION ALL select count(1) from sb_member32 UNION ALL select count(1) from sb_member33
		UNION ALL select count(1) from sb_member34 UNION ALL select count(1) from sb_member35
		UNION ALL select count(1) from sb_member36 UNION ALL select count(1) from sb_member37
		UNION ALL select count(1) from sb_member38 UNION ALL select count(1) from sb_member39
		) b
	</select>
	<select id="getMemberCountToDay" resultType="Long">
		SELECT sum(b.a) from (
			SELECT count(1) a FROM sb_member00 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member01 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member02 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member03 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member04 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member05 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member06 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member07 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member08 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member09 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member10 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member11 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member12 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member13 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member14 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member15 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member16 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member17 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member18 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member19 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member20 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member21 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member22 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member23 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member24 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member25 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member26 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member27 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member28 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member29 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member30 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member31 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member32 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member33 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member34 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member35 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member36 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member37 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member38 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
			UNION ALL SELECT count(1) FROM sb_member39 a WHERE SUBSTR(a.create_date,1,10) = SUBSTR(NOW(),1,10)
		) b
	</select>


<select id="selectMemberByAliUserId" parameterType="String" resultType="com.tzj.collect.entity.Member">
	SELECT
		*
	FROM
		${tableName}
	WHERE
		ali_user_id = #{aliUserId}
</select>
	<select id="selectMemberInfoByAliUserId" parameterType="String" resultType="Map">
		SELECT
			mm.city, mm.pic_url as picUrl, mm.link_name as linkName
		FROM
			${tableName} mm
		WHERE
			ali_user_id = #{aliUserId}
</select>
	<update id="deleteMemberByAliUserId" parameterType="String">
		UPDATE ${tableName}
			SET ali_card_no = NULL,
				card_no = NULL,
			 link_name = NULL,
			 pic_url = NULL
		WHERE
			ali_user_id = #{aliUserId}
	</update>
	<update id="updateMemberByAliUserId" parameterType="com.tzj.collect.entity.Member">
	UPDATE ${member.tableName} a
	SET
	<if test="member.idCard != null and member.idCard != ''">
		a.id_card = #{member.idCard},
	</if>
	<if test="member.name != null and member.name != ''">
		a.name_ = #{member.name},
	</if>
	<if test="member.address != null and member.address != ''">
		a.address = #{member.address},
	</if>
	<if test="member.mobile != null and member.mobile != ''">
		a.mobile = #{member.mobile},
	</if>
	<if test="member.cardNo != null and member.cardNo != ''">
		a.card_no = #{member.cardNo},
	</if>
	<if test="member.greenCode != null and member.greenCode != ''">
		a.green_code = #{member.greenCode},
	</if>
	<if test="member.isShowDialog != null and member.isShowDialog != ''">
		a.is_show_dialog = #{member.isShowDialog},
	</if>
	<if test="member.aliUserId != null and member.aliUserId != ''">
		a.ali_user_id = #{member.aliUserId},
	</if>
	<if test="member.remarks != null and member.remarks != ''">
		a.remarks = #{member.remarks},
	</if>
	<if test="member.delFlag != null and member.delFlag != ''">
		a.del_flag = #{member.delFlag},
	</if>
	<if test="member.aliCardNo != null and member.aliCardNo != ''">
		a.ali_card_no = #{member.aliCardNo},
	</if>
	<if test="member.openCardDate != null ">
		a.open_card_date = #{member.openCardDate},
	</if>
	<if test="member.gender != null and member.gender != ''">
		a.gender = #{member.gender},
	</if>
	<if test="member.isCertified != null and member.isCertified != ''">
		a.is_certified = #{member.isCertified},
	</if>
	<if test="member.city != null and member.city != ''">
		a.city = #{member.city},
	</if>
	<if test="member.birthday != null and member.birthday != ''">
		a.birthday = #{member.birthday},
	</if>
	<if test="member.linkName != null and member.linkName != ''">
		a.link_name = #{member.linkName},
	</if>
	<if test="member.picUrl != null and member.picUrl != ''">
		a.pic_url = #{member.picUrl},
	</if>
	<if test="member.channelId != null and member.channelId != ''">
		a.channel_id = #{member.channelId},
	</if>
	<if test="member.formId != null and member.formId != ''">
		a.form_id = #{member.formId},
	</if>
		a.update_date = NOW()
	WHERE
		a.ali_user_id = #{member.aliUserId}
</update>
	<insert id="insertMember" parameterType="com.tzj.collect.entity.Member">
		INSERT INTO ${member.tableName} (
		<if test="member.idCard != null and member.idCard != ''">
			id_card,
		</if>
		<if test="member.name != null and member.name != ''">
			name_,
		</if>
		<if test="member.address != null and member.address != ''">
			address,
		</if>
		<if test="member.mobile != null and member.mobile != ''">
			mobile,
		</if>
		<if test="member.cardNo != null and member.cardNo != ''">
			card_no,
		</if>
		<if test="member.greenCode != null and member.greenCode != ''">
			green_code,
		</if>
		<if test="member.aliUserId != null and member.aliUserId != ''">
			ali_user_id,
		</if>
		<if test="member.createBy != null and member.createBy != ''">
			create_by,
		</if>
		<if test="member.updateBy != null and member.updateBy != ''">
			update_by,
		</if>
		<if test="member.remarks != null and member.remarks != ''">
			remarks,
		</if>
		<if test="member.delFlag != null and member.delFlag != ''">
			del_flag,
		</if>
		<if test="member.aliCardNo != null and member.aliCardNo != ''">
			ali_card_no,
		</if>
		<if test="member.openCardDate != null ">
			open_card_date,
		</if>
		<if test="member.appId != null and member.appId != ''">
			app_id,
		</if>
		<if test="member.gender != null and member.gender != ''">
			gender,
		</if>
		<if test="member.isCertified != null and member.isCertified != ''">
			is_certified,
		</if>
		<if test="member.city != null and member.city != ''">
			city,
		</if>
		<if test="member.birthday != null and member.birthday != ''">
			birthday,
		</if>
		<if test="member.linkName != null and member.linkName != ''">
			link_name,
		</if>
		<if test="member.picUrl != null and member.picUrl != ''">
			pic_url,
		</if>
		<if test="member.channelId != null and member.channelId != ''">
			channel_id,
		</if>
			create_date,
			update_date
		)
		VALUES
			(
		<if test="member.idCard != null and member.idCard != ''">
			#{member.idCard},
		</if>
		<if test="member.name != null and member.name != ''">
			#{member.name},
		</if>
		<if test="member.address != null and member.address != ''">
			#{member.address},
		</if>
		<if test="member.mobile != null and member.mobile != ''">
			#{member.mobile},
		</if>
		<if test="member.cardNo != null and member.cardNo != ''">
			#{member.cardNo},
		</if>
		<if test="member.greenCode != null and member.greenCode != ''">
			#{member.greenCode},
		</if>
		<if test="member.aliUserId != null and member.aliUserId != ''">
			#{member.aliUserId},
		</if>
		<if test="member.createBy != null and member.createBy != ''">
			#{member.createBy},
		</if>
		<if test="member.updateBy != null and member.updateBy != ''">
			#{member.updateBy},
		</if>
		<if test="member.remarks != null and member.remarks != ''">
			#{member.remarks},
		</if>
		<if test="member.delFlag != null and member.delFlag != ''">
			#{member.delFlag},
		</if>
		<if test="member.aliCardNo != null and member.aliCardNo != ''">
			#{member.aliCardNo},
		</if>
		<if test="member.openCardDate != null ">
			#{member.openCardDate},
		</if>
		<if test="member.appId != null and member.appId != ''">
			#{member.appId},
		</if>
		<if test="member.gender != null and member.gender != ''">
			#{member.gender},
		</if>
		<if test="member.isCertified != null and member.isCertified != ''">
			#{member.isCertified},
		</if>
		<if test="member.city != null and member.city != ''">
			#{member.city},
		</if>
		<if test="member.birthday != null and member.birthday != ''">
			#{member.birthday},
		</if>
		<if test="member.linkName != null and member.linkName != ''">
			#{member.linkName},
		</if>
		<if test="member.picUrl != null and member.picUrl != ''">
			#{member.picUrl},
		</if>
		<if test="member.channelId != null and member.channelId != ''">
			#{member.channelId},
		</if>
			NOW(),
			NOW()
			)
	</insert>











</mapper>
