<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.OrderComplaintMapper">



	<select id="selectComplaintList" parameterType="Object" resultType="com.tzj.collect.entity.OrderComplaint">
       SELECT a.*
       from
       (SELECT * FROM sb_order_complaint WHERE order_no = #{orderNo} ORDER BY create_date DESC)a
       GROUP BY a.type_
	</select>






</mapper>
