<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.ShareInfoMapper">


	<select id="getShareInfoData" resultType="Map">
		select  count(1) as num,IFNULL(sum(bonus),0) as bonus from sb_share_info
		where share_ali_user_id =#{shareId}
		and create_date like #{date}
	</select>


</mapper>