<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skin.core.mapper.PullBoxSkinMapper">


    <update id="updateSkin">

    update pull_box_skin set is_reward =0 where pull_box_id = #{pullBoxId}

    </update>

</mapper>