<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.DailyMemberMapper">
	<select id="selectMemberInfoByAliUserId" parameterType="String" resultType="Map">
			SELECT
				mm.city, mm.pic_url as picUrl, mm.link_name as linkName, mobile
			FROM
				${tableName} mm
			WHERE
				ali_user_id = #{aliUserId}
	</select>
	<select id="selectMemberByAliUserId" parameterType="String" resultType="com.tzj.collect.entity.Member">
		SELECT
			*
		FROM
			${tableName}
		WHERE
			ali_user_id = #{aliUserId}
	</select>
	<select id="allExitsFormIdMemberList" resultType="Map">
		select	ali_user_id, form_id  from sb_member00 WHERE form_id is NOT NULL UNION ALL select ali_user_id, form_id from sb_member01 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member02 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member03 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member04 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member05 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member06 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member07 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member08 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member09 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member10 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member11 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member12 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member13 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member14 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member15 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member16 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member17 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member18 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member19 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member20 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member21 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member22 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member23 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member24 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member25 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member26 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member27 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member28 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member29 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member30 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member31 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member32 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member33 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member34 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member35 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member36 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member37 WHERE form_id is NOT NULL
		UNION ALL select ali_user_id, form_id from sb_member38 WHERE form_id is NOT NULL  UNION ALL select ali_user_id, form_id from sb_member39 WHERE form_id is NOT NULL
	</select>
</mapper>
