<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.mapper.DailyPointMapper" >
	<insert id="insertPointList" parameterType="com.tzj.collect.entity.PointList">
		INSERT INTO `sb_point_list` (
			`ali_user_id`,
			`point`,
			`type`,
			`document_no`,
			`descrb`,
			`create_by`,
			`create_date`,
			`update_by`,
			`update_date`,
			`remarks`,
			`del_flag`,
			`version_`
		)
		VALUES(
			#{pointList.aliUserId},
			#{pointList.point},
			'0',
			#{pointList.documentNo},
			'答答答领取积分',
			NULL,
			NOW(),
			NULL,
			NOW(),
			NULL,
			'0',
			'1'
		);
	</insert>
</mapper>