<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tzj.collect.core.mapper.DailyLexiconMapper" >
	<select id="lexiconList" resultMap="getCheckMap">
        SELECT depth FROM daily_lexicon WHERE del_flag = 0 GROUP BY depth
    </select>
	<select id="selectDepth" resultType="Map">
        SELECT id,name_,type_id,depth FROM daily_lexicon WHERE del_flag = 0 and  depth =  #{depth}
    </select>
	<resultMap id="getCheckMap" type="map">
		<result property="depth" column="depth"/>
		<collection property="depthList" javaType="ArrayList" ofType="Map"
					select="selectDepth" column="{depth=depth}">
			<result property="id" column="id" />
			<result property="name" column="name_"/>
			<result property="typeId" column="type_id"/>
			<result property="depth" column="depth"/>
		</collection>
	</resultMap>
	<insert id="insertDailyRecords" parameterType="String">
        INSERT INTO `collect`.${tableName} (
			`uu_id`,
			`ali_user_id`,
			`lexicon_id`,
			`type_id`,
			`create_date`,
			`update_date`
		)
		VALUES
			(
				#{uuId},
				#{aliUserId},
				#{lexiconId},
				#{typeId},
				NOW(),
				NOW()
			);
	</insert>
	<update id="updateDailyRecordsList" parameterType="String">
		UPDATE `collect`.${tableName}
			SET user_type_id = #{typeId},
			is_true = #{trueOrFalse},
			version_ = version_ + 1,
			 update_date = NOW()
			WHERE
				ali_user_id = #{aliUserId}
			AND uu_id = #{uuId}
			AND create_date BETWEEN #{localDateBefore}
			AND #{localDateEnd}

	</update>
	<select id="checkDailyIsAnswer" resultType="Map">
		SELECT
			uu_id,
			ali_user_id,
			type_id
		FROM
			`collect`.${tableName}
		WHERE
			del_flag = 0
		AND uu_id = #{uuId}
		AND user_type_id IS NULL
	</select>
	<select id="dailyLexiconList" resultType="Map">
		SELECT
			dll.depth,
			ddr.uu_id AS uuId,
			dll.name_
		FROM
			`collect`.${tableName} ddr
		LEFT JOIN daily_lexicon dll ON ddr.lexicon_id = dll.id
		WHERE
			ddr.del_flag = 0
		AND ddr.user_type_id IS NOT NULL
		AND ddr.ali_user_id = #{aliUserId}
		AND ddr.create_date BETWEEN #{localDateBefore}
		AND #{localDateEnd}
	</select>
	<select id="errorLexiconList" resultMap="lexResultMap">
		SELECT
			dll.name_,
			ddr.type_id,
			ddr.user_type_id
		FROM
			`collect`.${tableName} ddr
		LEFT JOIN daily_lexicon dll ON ddr.lexicon_id = dll.id
		WHERE
			ddr.del_flag = 0
		AND ddr.ali_user_id = #{aliUserId}
		AND ddr.is_true = 1
		order by  ddr.user_type_id DESC
	</select>
	<resultMap id="lexResultMap" type="com.tzj.collect.api.lexicon.result.LexResult">
		<result  property="name" column="name_"/>
		<result property="lexType" column="type_id" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
		<result property="userLexType" column="user_type_id" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
	</resultMap>
</mapper>